.help-block {
	display: none;
}

.entry-property-name {
    font-weight: bold;
}

.wrap {
   white-space: pre-wrap;      /* CSS3 */
   white-space: -moz-pre-wrap; /* Firefox */
   white-space: -pre-wrap;     /* Opera <7 */
   white-space: -o-pre-wrap;   /* Opera 7 */
   word-wrap: break-word;      /* IE */
}

.genetic-organisation {
    max-height: 70px;
    max-width: 100%;
}
