<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
     Group A4 [FeFe]-hydrogenases
</title>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

		<link href="http://services.birk.au.dk/hyddb/static/common/style.css" rel="stylesheet">

		
    
    <link href="http://services.birc.au.dk/hyddb/static/browser/style.css" rel="stylesheet">

				<div class="container">
			<nav class="navbar navbar-inverse">
			  <div class="container-fluid">
			    <div class="navbar-header">
			      <a class="navbar-brand" href="http://services.birc.au.dk/hyddb/">HydDB</a>
			    </div>

			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			      <ul class="nav navbar-nav">
			        <li >
			        	<a href="http://services.birc.au.dk/hyddb/">
				        	<span class="glyphicon glyphicon-tags" aria-hidden="true"></span>&nbsp;Classify
			        	</a>
			        </li>
			        <li >
			        	<a href="http://services.birc.au.dk/hyddb/browser/">
				        	<span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>&nbsp;Browse
			        	</a>
			        </li>
			      </ul>
			    </div>
			  </div>
			</nav>
			
<h1>Group A4 [FeFe]-hydrogenases</h1>

	<h3>Properties</h3>
	
            <table class="table table-striped">
                <tr>
                    <td class="entry-property-name" width="200">Group</td>
                    <td>[FeFe]-hydrogenases</td>
                </tr>
                <tr>
                    <td class="entry-property-name">Subgroup</td>
                    <td>[FeFe] Group A4: Formate dehydrogenase-linked</td>
                </tr>
                 <tr>
                    <td class="entry-property-name">Function</td>
                    <td>Most complexes appear to couple oxidation of formate to fermentative evolution of H<sub>2</sub>. Several complexes are multifunctional bifurcating complexes that can use the electrons from H<sub>2</sub> or formate to simultaneously reduce NADP and ferredoxin.  </td>
                </tr>
                 <tr>
                    <td class="entry-property-name">Activity</td>
                    <td>H<sub>2</sub>-evolution or electron-bifurcation</td>
                </tr>
                 <tr>
                    <td class="entry-property-name">Oxygen Tolerance</td>
                    <td>O<sub>2</sub>-labile</td>
                </tr>
                 <tr>
                    <td class="entry-property-name">Localisation</td>
                    <td>Cytosolic</td>
                </tr>
							</table>
							
							
	<h3>Distribution</h3>
	
            <table class="table table-striped">
                 <tr>
                    <td class="entry-property-name" width="200">Ecosystem Distribution</td>
                    <td>Gastrointestinal tracts, anoxic soils and sediments</td>
                </tr>
                 <tr>
                    <td class="entry-property-name">Taxonomic Distribution</td>
                    <td>Present in some Firmicutes </td>
                </tr>
							</table>

							
	<img src="../distribution/fefea4.tif" />
	
	<h3>Genetic Organisation</h3>
	
	<p>Organisation 1: <i>Clostridium pasteurianum</i> (WP_023975234.1):</p>

	<img src="../organisation/fefea4i.tif" />
	
	<p>Organisation 2: <i>Clostridium autoethanogenum</i> (WP_023162857.1):</p>

	<img src="../organisation/fefea4ii.tif" />
	<h3>Architecture</h3>

            <table class="table table-striped">
						    <tr>
                    <td class="entry-property-name" width="200">Structures</td>
                    <td>N/A</td>
                </tr>
                <tr>
                    <td class="entry-property-name" width="200">Number of Subunits</td>
                    <td>3 or 6</td>
                 </tr>										
                <tr>
                    <td class="entry-property-name">Subunit Description</td>
                    <td>HytA (catalytic subunit)<br />
										HytE1 (iron-sulfur subunit)<br />
										HytE2 (iron-sulfur subunit)<br />
										In organisation 2, a diaphorase (HytB), thioredoxin (HytC), and iron-sulfur protein (HytD) are also present<br />
										</td>
                </tr>
                 <tr>
                    <td class="entry-property-name">Catalytic Site</td>
                    <td>[FeFe]-centre</td>
                </tr>
                <tr>
                    <td class="entry-property-name">[FeS] Clusters</td>
                    <td>2 [4Fe4S] clusters</td>
                </tr>
							</table>

	<h3>Literature</h3>


<p><b>Genetics:</b></p>

<ul>
	<li>Calusinska, M., Happe, T., Joris, B., and Wilmotte, A. (2010) The surprising diversity of clostridial hydrogenases: a comparative genomic perspective. <i>Microbiol.</i> <b>156</b>: 1575-1588.</li>
  <li>Greening, C., Biswas, A., Carere, C.R., Jackson, C.J., Taylor, M.C., Stott, M.B., Cook, G.M., and Morales, S.E. (2016) Genomic and metagenomic surveys of hydrogenase distribution indicate H<sub>2</sub> is a widely utilised energy source for microbial growth and survival. <i>ISME J.</i> <b>10</b>: 761-777.</li>
</ul>

<p><b>Physiology:</b></p>

<ul>
	<li>Buckel, W. and Thauer, R.K. (2013) Energy conservation via electron bifurcating ferredoxin reduction and proton/Na<sup>+</sup> translocating ferredoxin oxidation. <i>BBA Bioenerg.</i> <b>1827</b>: 94-113.</li>
	<li>Wang, S., Huang, H., Kahnt, J., Mueller, A.P., K&ouml;pke, M., and Thauer, R.K. (2013) NADP-specific electron-bifurcating [FeFe]-hydrogenase in a functional complex with formate dehydrogenase in <i>Clostridium autoethanogenum</i> grown on CO. <i>J. Bacteriol.</i> <b>195</b>: 4373-4386.</li>
</ul>

	<h3>HydDB entries</h3>

	

			<footer class="text-center">
				<small class="text-muted">&copy; 2016 Dan S&oslash;ndergaard &amp; Chris Greening</small>
			</footer>
		</div>
	</body>
</html>

		