{% load static %}
<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
     Group A1 [FeFe]-hydrogenases
</title>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

		<link href="http://services.birk.au.dk/hyddb/static/common/style.css" rel="stylesheet">

		
    
    <link href="http://services.birc.au.dk/hyddb/static/browser/style.css" rel="stylesheet">

				<div class="container">
			<nav class="navbar navbar-inverse">
			  <div class="container-fluid">
			    <div class="navbar-header">
			      <a class="navbar-brand" href="http://services.birc.au.dk/hyddb/">HydDB</a>
			    </div>

			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			      <ul class="nav navbar-nav">
			        <li >
			        	<a href="http://services.birc.au.dk/hyddb/">
				        	<span class="glyphicon glyphicon-tags" aria-hidden="true"></span>&nbsp;Classify
			        	</a>
			        </li>
			        <li >
			        	<a href="http://services.birc.au.dk/hyddb/browser/">
				        	<span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>&nbsp;Browse
			        	</a>
			        </li>
			      </ul>
			    </div>
			  </div>
			</nav>
			
<h1>Group A1 [FeFe]-hydrogenases</h1>

	<h3>Properties</h3>
	
            <table class="table table-striped">
                <tr>
                    <td class="entry-property-name" width="200">Group</td>
                    <td>[FeFe]-hydrogenases</td>
                </tr>
                <tr>
                    <td class="entry-property-name">Subgroup</td>
                    <td>[FeFe] Group A1: Prototypical</td>
                </tr>
                 <tr>
                    <td class="entry-property-name">Function</td>
                    <td>Fermentative or photobiological evolution of H<sub>2</sub> using reduced ferredoxin as an electron donor. </td>
                </tr>
                 <tr>
                    <td class="entry-property-name">Activity</td>
                    <td>H<sub>2</sub>-evolution</td>
                </tr>
                 <tr>
                    <td class="entry-property-name">Oxygen Tolerance</td>
                    <td>O<sub>2</sub>-labile</td>
                </tr>
                 <tr>
                    <td class="entry-property-name">Localisation</td>
                    <td>Cytosolic</td>
                </tr>
							</table>
							
							
	<h3>Distribution</h3>
	
            <table class="table table-striped">
                 <tr>
                    <td class="entry-property-name" width="200">Ecosystem Distribution</td>
                    <td>Anoxic waters, soils, and sediments, gastrointestinal tracts</td>
                </tr>
                 <tr>
                    <td class="entry-property-name">Taxonomic Distribution</td>
                    <td>Widespread in anaerobic bacteria and unicellular eukaryotes </td>
                </tr>
							</table>

							
	<!-- <img src="../distribution/fefea4.tif" /> -->
            <img src="{% static 'browser/images/distribution/fefea4.png' %}" />
	
	<h3>Genetic Organisation</h3>
	
	<p>Organisation 1: <i>Chlamydomonas reinhardtii</i> (WP_001693376.1):</p>

	<img src="../organisation/fefea1i.tif" />
	
	<p>Organisation 2: <i>Trichomonas vaginalis</i> (WP_001330775.1):</p>

	<img src="../organisation/fefea1ii.tif" />	
	
	<p>Organisation 3: <i>Clostridium pasteurianum</i> (WP_004455619.1):</p>

	<img src="../organisation/fefea1iii.tif" />
	
	<p>Organisation 4: <i>Desulfovibrio vulgaris</i> (WP_010939057.1):</p>

	<img src="../organisation/fefea1iv.tif" />
	
	<p>Organisation 5: <i>Shewanella oneidensis</i> (WP_011073665.1):</p>

	<img src="../organisation/fefea1v.tif" />
	
	<p>Organisation 6: <i>Trichomonas vaginalis</i> (XP_001580488.1):</p>

	<img src="../organisation/fefea1vi.tif" />
	
	<h3>Architecture</h3>

            <table class="table table-striped">
						    <tr>
                    <td class="entry-property-name" width="200">Structures</td>
                    <td>N/A</td>
                </tr>
                <tr>
                    <td class="entry-property-name" width="200">Number of Subunits</td>
                    <td>1, 2 or 3</td>
                 </tr>										
                <tr>
                    <td class="entry-property-name">Subunit Description</td>
                    <td>HydA (catalytic subunit)<br />
										In organisation 4 and 5, the catalytic subunit has split to include a small subunit (HydS)<br />
										In organisation 5, a cytochrome <i>b</i> subunit (HydH) is present<br />
										In organisation 6, the hydrogenase domain is fused to a nitrate reductase or sulfite reductase domain</td>
                </tr>
                 <tr>
                    <td class="entry-property-name">Catalytic Site</td>
                    <td>[FeFe]-centre</td>
                </tr>
                <tr>
                    <td class="entry-property-name">[FeS] Clusters</td>
                    <td>Organisation 1: Absent<br />
										Organisation 2: 2 [4Fe4S] clusters<br />
										Organisation 3: 3 [4Fe4S] clusters, 1 [2Fe2S] cluster<br />
										Organisation 4: 2 [4Fe4S] clusters<br />
										Organisation 5: 2 [4Fe4S] clusters<br />
										Organisation 6: 3 [4Fe4S] clusters, 1 [2Fe2S] cluster</td>
                </tr>
							</table>

	<h3>Literature</h3>


<p><b>Genetics:</b></p>

<ul>
	<li>Atta, M. and Meyer, J. (2000) Characterization of the gene encoding the [Fe]-hydrogenase from <i>Megasphaera elsdenii</i>. <i>BBA Prot. Struct. Mol. Enzymol.</i> <b>1476</b>: 368-371.</li>
	<li>Calusinska, M., Happe, T., Joris, B., and Wilmotte, A. (2010) The surprising diversity of clostridial hydrogenases: a comparative genomic perspective. <i>Microbiol.</i> <b>156</b>: 1575-1588.</li>
	<li>Forestier, M., King, P., Zhang, L., Posewitz, M., Schwarzer, S., Happe, T., Ghirardi, M.L., and Seibert, M. (2003) Expression of two [Fe]-hydrogenases in <i>Chlamydomonas reinhardtii</i> under anaerobic conditions. <i>Eur. J. Biochem.</i> <b>270</b>: 2750-2758.</li>
	<li>Gorwa, M.F., Croux, C., and Soucaille, P. (1996) Molecular characterization and transcriptional analysis of the putative hydrogenase gene of <i>Clostridium acetobutylicum</i> ATCC 824. <i>J. Bacteriol.</i> <b>178</b>: 2668-2675.</li>
  <li>Greening, C., Biswas, A., Carere, C.R., Jackson, C.J., Taylor, M.C., Stott, M.B., Cook, G.M., and Morales, S.E. (2016) Genomic and metagenomic surveys of hydrogenase distribution indicate H<sub>2</sub> is a widely utilised energy source for microbial growth and survival. <i>ISME J.</i> <b>10</b>: 761-777.</li>
	<li>Happe, T. and Kaminski, A. (2002) Differential regulation of the Fe-hydrogenase during anaerobic adaptation in the green alga <i>Chlamydomonas reinhardtii</i>. <i>Eur. J. Biochem.</i> <b>269</b>: 1022-1032.</li>
	<li>Happe, T. and Naber, J.D. (1993) Isolation, characterization and N-terminal amino acid sequence of hydrogenase from the green alga <i>Chlamydomonas reinhardtii</i>. <i>Eur. J. Biochem.</i> <b>214</b>: 475-481.</li>
	<li>Horner, D.S., Foster, P.G. and Embley, T.M. (2000) Iron hydrogenases and the evolution of anaerobic eukaryotes. <i>Mol. Biol. Evol.</i> <b>17</b>: 1695-1709.</li>
	<li>Kuchenreuther, J.M., Grady-Smith, C.S., Bingham, A.S., George, S.J., Cramer, S.P., and Swartz, J.R. (2010) High-yield expression of heterologous [FeFe] hydrogenases in <i>Escherichia coli</i>. <i>PLOS One</i> <b>5</b>: e15491.</li>
	<li>Meyer, J. and Gagnon, J. (1991) Primary structure of hydrogenase from <i>Clostridium pasteurianum</i>. <i>Biochem.</i> <b>30</b>: 9697-9704.</li>
	<li>Stapleton, J.A. and Swartz, J.R. (2010) Development of an in vitro compartmentalization screen for high-throughput directed evolution of [FeFe] hydrogenases. <i>PLOS One</i> <b>5</b>: e15275.</li>
	<li>Voncken, F.G., Boxma, B., van Hoek, A.H., Akhmanova, A.S., Vogels, G.D., Huynen, M., Veenhuis, M., and Hackstein, J.H. (2002) A hydrogenosomal [Fe]-hydrogenase from the anaerobic chytrid <i>Neocallimastix</i> sp. L2. <i>Gene</i> <b>284</b>: 103-112.</li>
</ul>

<p><b>Physiology:</b></p>

<ul>
	<li>Cornish, A.J., G&auml;rtner, K., Yang, H., Peters, J.W., and Hegg, E.L. (2011) Mechanism of proton transfer in [FeFe]-hydrogenase from <i>Clostridium pasteurianum</i>. <i>J. Biol. Chem.</i> <b>286</b>: 38341-38347.</li>
	<li>Meuser, J.E., D'Adamo, S., Jinkerson, R.E., Mus, F., Yang, W., Ghirardi, M.L., Seibert, M., Grossman, A.R., and Posewitz, M.C. (2012) Genetic disruption of both <i>Chlamydomonas reinhardtii</i> [FeFe]-hydrogenases: insight into the role of HYDA2 in H<sub>2</sub> production. <i>Biochem. Biophys. Res. Commun.</i> <b>417</b>: 704-709.</li>
	<li>Drake, H.L. (1982) Demonstration of hydrogenase in extracts of the homoacetate-fermenting bacterium <i>Clostridium thermoaceticum</i>. <i>J. Bacteriol.</i> <b>150</b>: 702-709.</li>
	<li>Florin, L., Tsokoglou, A., and Happe, T. (2001) A novel type of iron hydrogenase in the green alga <i>Scenedesmus obliquus</i> is linked to the photosynthetic electron transport chain. <i>J. Biol. Chem.</i> <b>276</b>: 6125-6132.</li>
	<li>Fouchard, S., Hemschemeier, A., Caruana, A., Pruvost, J., Legrand, J., Happe, T., Peltier, G., and Cournac, L. (2005) Autotrophic and mixotrophic hydrogen photoproduction in sulfur-deprived <i>Chlamydomonas</i> cells. <i>Appl. Environ. Microbiol.</i> <b>71</b>: 6199-6205.</li>
	<li>Happe, T., Mosler, B., and Naber, J.D. (1994) Induction, localization and metal content of hydrogenase in the green alga <i>Chlamydomonas reinhardtii</i>. <i>Eur. J. Biochem.</i> <b>222</b>: 769-774.</li>
	<li>Hemschemeier, A., Fouchard, S., Cournac, L., Peltier, G., and Happe, T. (2008) Hydrogen production by <i>Chlamydomonas reinhardtii</i>: an elaborate interplay of electron sources and sinks. <i>Planta</i> <b>227</b>: 397-407.</li>
	<li>Kelly, C.L., Pinske, C., Murphy, B.J., Parkin, A., Armstrong, F., Palmer, T., and Sargent, F. (2015) Integration of an [FeFe]-hydrogenase into the anaerobic metabolism of <i>Escherichia coli</i>. <i>Biotech. Rep.</i> <b>8</b>: 94-104.</li>
	<li>Lemon, B.J. and Peters, J.W. (1999) Binding of exogenously added carbon monoxide at the active site of the iron-only hydrogenase (CpI) from <i>Clostridium pasteurianum</i>. <i>Biochem.</i> <b>38</b>: 12969-12973.</li>
	<li>Nicolet, Y., Lemon, B.J., Fontecilla-Camps, J.C., and Peters, J.W. (2000) A novel FeS cluster in Fe-only hydrogenases. <i>Trends Biochem. Sci.</i> <b>25</b>: 138-143.</li>
	<li>Noth, J., Krawietz, D., Hemschemeier, A., and Happe, T. (2013) Pyruvate: ferredoxin oxidoreductase is coupled to light-independent hydrogen production in <i>Chlamydomonas reinhardtii</i>. <i>J. Biol. Chem.</i> <b>288</b>: 4368-4377.</li>
	<li>Peck Jr, H.D. and Gest, H. (1957) Hydrogenase of <i>Clostridium butylicum</i>. <i>J. Bacteriol.</i> <b>73</b>: 569-578.</li>
	<li>Shaw, A.J., Hogsett, D.A., and Lynd, L.R. (2009) Identification of the [FeFe]-hydrogenase responsible for hydrogen generation in <i>Thermoanaerobacterium saccharolyticum</i> and demonstration of increased ethanol yield via hydrogenase knockout. <i>J. Bacteriol.</i> <b>191</b>: 6457-6464.</li>
	<li>Tolleter, D. et al. (2011) Control of hydrogen photoproduction by the proton gradient generated by cyclic electron flow in <i>Chlamydomonas reinhardtii</i>. <i>Plant Cell</i> <b>23</b>: 2619-2630.</li>
	<li>Winkler, M., Heil, B., Heil, B. and Happe, T. (2002) Isolation and molecular characterization of the [Fe]-hydrogenase from the unicellular green alga <i>Chlorella fusca</i>. <i>BBA Gene Struct. Express.</i> <b>1576</b>: 330-334.</li>
	<li>Yacoby, I., Pochekailov, S., Toporik, H., Ghirardi, M.L., King, P.W., and Zhang, S. (2011) Photosynthetic electron partitioning between [FeFe]-hydrogenase and ferredoxin: NADP<sup>+</sup>-oxidoreductase (FNR) enzymes in vitro. <i>Proc. Natl. Acad. Sci. USA</i> <b>108</b>: 9396-9401.</li>
	<li>Zhang, L., Happe, T., and Melis, A. (2002) Biochemical and morphological characterization of sulfur-deprived and H<sub>2</sub>-producing <i>Chlamydomonas reinhardtii</i> (green alga). <i>Planta</i> <b>214</b>: 552-561.</li>
</ul>

<p><b>Biochemistry:</b></p>

<ul>
	<li>Adams, M.W. (1987) The mechanisms of H<sub>2</sub> activation and CO binding by hydrogenase I and hydrogenase II of <i>Clostridium pasteurianum</i>. <i>J. Biol. Chem.</i> <b>262</b>: 15054-15061.</li>
	<li>Adams, M.W., Eccleston, E., and Howard, J.B. (1989) Iron-sulfur clusters of hydrogenase I and hydrogenase II of <i>Clostridium pasteurianum</i>. <i>Proc. Natl. Acad. Sci. USA</i> <b>86</b>: 4932-4936.</li>
	<li>Adams, M.W. and Mortenson, L.E. (1984) The purification of hydrogenase II (uptake hydrogenase) from the anaerobic N<sub>2</sub>-fixing bacterium <i>Clostridium pasteurianum</i>. <i>BBA Bioenerg.</i> <b>766</b>: 51-61.</li>
	<li>Adams, M.W. and Mortenson, L.E. (1984) The physical and catalytic properties of hydrogenase II of <i>Clostridium pasteurianum</i>. A comparison with hydrogenase I. <i>J. Biol. Chem.</i> <b>259</b>: 7045-7055.</li>
	<li>Bennett, B., Lemon, B.J., and Peters, J.W. (2000) Reversible carbon monoxide binding and inhibition at the active site of the Fe-only hydrogenase. <i>Biochem.</i> <b>39</b>: 7455-7460.</li>
	<li>Berlier, Y., Fauque, G.D., LeGall, J., Choi, E.S., Peck, H.D., and Lespinat, P.A. (1987) Inhibition studies of three classes of <i>Desulfovibrio</i> hydrogenase: application to the further characterization of the multiple hydrogenases found in <i>Desulfovibrio vulgaris</i> Hildenborough. <i>Biochem. Biophys. Res. Commun.</i> <b>146</b>: 147-153.</li>
	<li>Bingham, A.S., Smith, P.R., and Swartz, J.R. (2012) Evolution of an [FeFe] hydrogenase with decreased oxygen sensitivity. <i>Int. J. Hydrogen Energy</i> <b>37</b>: 2965-2976.</li>
	<li>Brown, K.A., Wilker, M.B., Boehm, M., Dukovic, G., and King, P.W. (2012) Characterization of photochemical processes for H<sub>2</sub> production by CdS nanorod [FeFe] hydrogenase complexes. <i>J. Am. Chem. Soc.</i> <b>134</b>: 5627-5636.
	<li>Chen, J.S. and Blanchard, D.K. (1978) Isolation and properties of a unidirectional H<sub>2</sub>-oxidizing hydrogenase from the strictly anaerobic N<sub>2</sub>-fixing bacterium <i>Clostridium pasteurianum</i> W5. <i>Biochem. Biophys. Res. Commun.</i> <b>84</b>: 1144-1150.</li>
	<li>Chen, J.S. and Mortenson, L.E. (1974) Purification and properties of hydrogenase from <i>Clostridium pasteurianum</i> W5. <i>BBA Prot. Struct.</i> <b>371</b>: 283-298.</li>
	<li>Cohen, J., Kim, K., King, P., Seibert, M., and Schulten, K. (2005) Finding gas diffusion pathways in proteins: application to O<sub>2</sub> and H<sub>2</sub> transport in CpI [FeFe]-hydrogenase and the role of packing defects. <i>Structure</i> <b>13</b>: 1321-1329.</li>
	<li>Demuez, M., Cournac, L., Guerrini, O., Soucaille, P., and Girbal, L. (2007) Complete activity profile of <i>Clostridium acetobutylicum</i> [FeFe]-hydrogenase and kinetic parameters for endogenous redox partners. <i>FEMS Microbiol. Lett.</i> <b>275</b>: 113-121.</li>
	<li>Dijk, C., Grande, H.J., Mayhew, S.G., and Veeger, C (1980) Properties of the hydrogenase of <i>Megasphaera elsdenii</i>. <i>Eur. J. Biochem.</i> <b>107</b>: 251-261.</li>
	<li>Dijk, C., Mayhew, S.G., Grande, H.J., and Veeger, C. (1979) Purification and properties of hydrogenase from <i>Megasphaera elsdenii</i>. <i>Eur. J. Biochem.</i> <b>102</b>: 317-330.</li>
	<li>Dijk, C. and Veeger, C. (1981) The effects of pH and redox potential on the hydrogen production activity of the hydrogenase from <i>Megasphaera elsdenii</i>. <i>Eur. J. Biochem.</i> <b>114</b>: 209-219.</li>
	<li>Erbes, D.L., Burris, R.H., and Orme-Johnson, W.H. (1975) On the iron-sulfur cluster in hydrogenase from <i>Clostridium pasteurianum</i> W5. <i>Proc. Natl. Acad. Sci. USA</i> <b>72</b>: 4795-4799.</li>
	<li>Erbes, D.L. and Burris, R.H. (1978) The kinetics of methyl viologen oxidation and reduction by the hydrogenase from <i>Clostridium pasteurianium</i>. <i>BBA Enzymol.</i> <b>525</b>: 45-54.</li>
	<li>Filipiak, M., Hagen, W.R., and Veeger, C. (1989) Hydrodynamic, structural and magnetic properties of <i>Megasphaera elsdenii</i> Fe hydrogenase reinvestigated. <i>Eur. J. Biochem.</i> <b>185</b>: 547-553.</li>
	<li>Fourmond, V. et al. (2014) The oxidative inactivation of FeFe hydrogenase reveals the flexibility of the H-cluster. <i>Nat. Chem.</i> <b>6</b>: 336-342.</li>
	<li>Girbal, L., von Abendroth, G., Winkler, M., Benton, P.M., Meynial-Salles, I., Croux, C., Peters, J.W., Happe, T., and Soucaille, P. (2005) Homologous and heterologous overexpression in <i>Clostridium acetobutylicum</i> and characterization of purified clostridial and algal Fe-only hydrogenases with high specific activities. <i>Appl. Environ. Microbiol.</i> <b>71</b>: 2777-2781.</li>
	<li>Kn&ouml;rzer, P., Silakov, A., Foster, C.E., Armstrong, F.A., Lubitz, W., and Happe, T. (2012) Importance of the protein framework for catalytic activity of [FeFe]-hydrogenases. <i>J. Biol. Chem.</i> <b>287</b>: 1489-1499.</li>
	<li>Lambertz, C., Leidel, N., Havelius, K.G., Noth, J., Chernev, P., Winkler, M., Happe, T., and Haumann, M. (2011) O<sub>2</sub> reactions at the six-iron active site (H-cluster) in [FeFe]-hydrogenase. <i>J. Biol. Chem.</i> <b>286</b>: 40614-40623.</li>
	<li>Lemon, B.J. and Peters, J.W. (1999) Binding of exogenously added carbon monoxide at the active site of the iron-only hydrogenase (CpI) from <i>Clostridium pasteurianum</i>. <i>Biochem.</i> <b>38</b>: 12969-12973.</li>
	<li>Lubner, C.E., Kn&ouml;rzer, P., Silva, P.J., Vincent, K.A., Happe, T., Bryant, D.A., and Golbeck, J.H. (2010) Wiring an [FeFe]-hydrogenase with photosystem I for light-induced hydrogen production. <i>Biochem.</i> <b>49</b>: 10264-10266.</li>
	<li>Mulder, D.W., Shepard, E.M., Meuser, J.E., Joshi, N., King, P.W., Posewitz, M.C., Broderick, J.B., and Peters, J.W. (2011) Insights into [FeFe]-hydrogenase structure, mechanism, and maturation. <i>Structure</i> <b>19</b>: 1038-1052.</li>
	<li>Hambourger, M., Gervaldo, M., Svedruzic, D., King, P.W., Gust, D., Ghirardi, M., Moore, A.L., and Moore, T.A. (2008) [FeFe]-hydrogenase-catalyzed H<sub>2</sub> production in a photoelectrochemical biofuel cell. <i>J. Am. Chem. Soc.</i> <b>130</b>: 2015-2022.</li>
	<li>Nicolet, Y., Piras, C., Legrand, P., Hatchikian, C.E., and Fontecilla-Camps, J.C. (1999) <i>Desulfovibrio desulfuricans</i> iron hydrogenase: the structure shows unusual coordination to an active site Fe binuclear center. <i>Structure</i> <b>7</b>: 13-23.</li>
	<li>Nicolet, Y., de Lacey, A.L., Vernede, X., Fernandez, V.M., Hatchikian, E.C., and Fontecilla-Camps, J.C., 2001. Crystallographic and FTIR spectroscopic evidence of changes in Fe coordination upon reduction of the active Site of the Fe-only Hydrogenase from <i>Desulfovibrio desulfuricans</i>. <i>J. Am. Chem. Soc.</i> <b>123</b>: 1596-1601.</li>
	<li>Payne, M.J., Chapman, A., and Cammack, R. (1993) Evidence for an [Fe]-type hydrogenase in the parasitic protozoan <i>Trichomonas vaginalis</i>. <i>FEBS Lett.</i> <b>317</b>: 101-104.</li>
	<li>Peters, J.W., Lanzilotta, W.N., Lemon, B.J., and Seefeldt, L.C. (1998) X-ray crystal structure of the Fe-only hydrogenase (CpI) from <i>Clostridium pasteurianum</i> to 1.8 angstrom resolution. <i>Science</i> <b>282</b>: 1853-1858.</li>
	<li>Philipps, G., Happe, T., and Hemschemeier, A. (2012) Nitrogen deprivation results in photosynthetic hydrogen production in <i>Chlamydomonas reinhardtii</i>. <i>Planta</i> <b>235</b>: 729-745.</li>
	<li>Plumer&eacute;, N., R&uuml;diger, O., Oughli, A.A., Williams, R., Vivekananthan, J., P&ouml;ller, S., Schuhmann, W., and Lubitz, W. (2014) A redox hydrogel protects hydrogenase from high-potential deactivation and oxygen damage. <i>Nat. Chem.</i> <b>6</b>: 822-827.</li>
	<li>Stripp, S.T., Goldet, G., Brandmayr, C., Sanganas, O., Vincent, K.A., Haumann, M., Armstrong, F.A., and Happe, T. (2009) How oxygen attacks [FeFe] hydrogenases from photosynthetic organisms. <i>Proc. Natl. Acad. Sci. USA</i> <b>106</b>: 17331-17336.</li>
	<li>Winkler, M., Kuhlgert, S., Hippler, M., and Happe, T. (2009) Characterization of the key step for light-driven hydrogen evolution in green algae. <i>J. Biol. Chem.</i> <b>284</b>: 36620-36627.</li>
</ul>

<p><b>Chemistry:</b></p>

<ul>
	<li>Adamska, A., Silakov, A., Lambertz, C., R&uuml;diger, O., Happe, T., Reijerse, E., and Lubitz, W. (2012) Identification and characterization of the "super-reduced" state of the H-Cluster in [FeFe] hydrogenase: a new building block for the catalytic cycle? <i>Angewandte Chemie</i> <b>51</b>: 11458-11462.</li>
	<li>Adamska-Venkatesh, A., Krawietz, D., Siebel, J., Weber, K., Happe, T., Reijerse, E., and Lubitz, W. (2014) New redox states observed in [FeFe] hydrogenases reveal redox coupling within the H-cluster. <i>J. Am. Chem. Soc.</i> <b>136</b>: 11339-11346.</li>
	<li>Albracht, S.P., Roseboom, W., and Hatchikian, E.C. (2006) The active site of the [FeFe]-hydrogenase from <i>Desulfovibrio desulfuricans</i>. I. Light sensitivity and magnetic hyperfine interactions as observed by electron paramagnetic resonance. <i>J. Biol. Inorg. Chem.</i> <b>11</b>: 88-101.</li>
	<li>Berggren, G., Adamska, A., Lambertz, C., Simmons, T.R., Esselborn, J., Atta, M., Gambarelli, S., Mouesca, J.M., Reijerse, E., Lubitz, W., and Happe, T. (2013) Biomimetic assembly and activation of [FeFe]-hydrogenases. <i>Nature</i> <b>499</b>: 66-69.</li>
	<li>Bruschi, M., Greco, C., Bertini, L., Fantucci, P., Ryde, U., and Gioia, L.D. (2010) Functionally relevant interplay between the Fe4S4 cluster and CN<sup>-</sup> ligands in the active site of [FeFe]-hydrogenases. <i>J. Am. Chem. Soc.</i> <b>132</b>: 4992-4993.</li>
	<li>Bruschi, M., Greco, C., Kaukonen, M., Fantucci, P., Ryde, U., and De Gioia, L. (2009) Influence of the [2Fe] H subcluster environment on the properties of key intermediates in the catalytic cycle of [FeFe] hydrogenases: hints for the rational design of synthetic catalysts. <i>Angewandte Chemie</i> <b>48</b>: 3503-3506.</li>
	<li>Butt, J.N., Filipiak, M., and Hagen, W.R. (1997) Direct electrochemistry of <i>Megasphaera elsdenii</i> iron hydrogenase. <i>Eur. J. Biochem.</i> <b>245</b>: 116-122.</li>
	<li>Chen, Z., Lemon, B.J., Huang, S., Swartz, D.J., Peters, J.W., and Bagley, K.A. (2002) Infrared studies of the CO-inhibited form of the Fe-only hydrogenase from <i>Clostridium pasteurianum</i> I: examination of its light sensitivity at cryogenic temperatures. <i>Biochem.</i> <b>41</b>: 2036-2043.</li>
	<li>Cornish, A.J., G&auml;rtner, K., Yang, H., Peters, J.W., and Hegg, E.L. (2011) Mechanism of proton transfer in [FeFe]-hydrogenase from <i>Clostridium pasteurianum</i>. <i>J. Biol. Chem.</i> <b>286</b>: 38341-38347.</li>
	<li>De Lacey, A.L., Stadler, C., Cavazza, C., Hatchikian, E.C., and Fernandez, V.M. (2000) FTIR characterization of the active site of the Fe-hydrogenase from <i>Desulfovibrio desulfuricans</i>. <i>J. Am. Chem. Soc.</i> <b>122</b>: 11232-11233.</li>
	<li>Foster, C.E., Kr&auml;mer, T., Wait, A.F., Parkin, A., Jennings, D.P., Happe, T., McGrady, J.E., and Armstrong, F.A. (2012) Inhibition of [FeFe]-hydrogenases by formaldehyde and wider mechanistic implications for biohydrogen activation. <i>J. Am. Chem. Soc.</i> <b>134</b>: 7553-7557.</li>
	<li>Grande, H.J., Dunham, W.R., Averill, B., Dijk, C., and Sands, R.H. (1983) Electron paramagnetic resonance and other properties of hydrogenases isolated from <i>Desulfovibrio vulgaris</i> (strain Hildenborough) and <i>Megasphaera elsdenii</i>. <i>Eur. J. Biochem.</i> <b>136</b>: 201-207.</li>
	<li>Greco, C., Bruschi, M., Heimdal, J., Fantucci, P., De Gioia, L., and Ryde, U. (2007) Structural insights into the active-ready form of [FeFe]-hydrogenase and mechanistic details of its inhibition by carbon monoxide. <i>Inorg. Chem.</i> <b>46</b>: 7256-7258.</li>
	<li>Kamp, C., Silakov, A., Winkler, M., Reijerse, E.J., Lubitz, W., and Happe, T. (2008) Isolation and first EPR characterization of the [FeFe]-hydrogenases from green algae. <i>BBA Bioenerg.</i> <b>1777</b>: 410-416.</li>
	<li>Lemon, B.J. and Peters, J.W. (2000) Photochemistry at the active site of the carbon monoxide inhibited form of the iron-only hydrogenase (CpI). <i>J. Am. Chem. Soc.</i> <b>122</b>: 3793-3794.</li>
	<li>Madden, C., Vaughn, M.D., D&iacute;ez-P&eacute;rez, I., Brown, K.A., King, P.W., Gust, D., Moore, A.L., and Moore, T.A. (2011) Catalytic turnover of [FeFe]-hydrogenase based on single-molecule imaging. <i>J. Am. Chem. Soc.</i> <b>134</b>: 1577-1582.</li>
	<li>Mulder, D.W., Ratzloff, M.W., Shepard, E.M., Byer, A.S., Noone, S.M., Peters, J.W., Broderick, J.B., and King, P.W. (2013) EPR and FTIR analysis of the mechanism of H<sub>2</sub> activation by [FeFe]-hydrogenase HydA1 from <i>Chlamydomonas reinhardtii</i>. <i>J. Am. Chem. Soc.</i> <b>135</b>: 6921-6929.</li>
	<li>Nicolet, Y., de Lacey, A.L., Vernede, X., Fernandez, V.M., Hatchikian, E.C., and Fontecilla-Camps, J.C. (2001) Crystallographic and FTIR spectroscopic evidence of changes in Fe coordination upon reduction of the active site of the Fe-only hydrogenase from <i>Desulfovibrio desulfuricans</i>. <i>J. Am. Chem. Soc.</i> <b>123</b>: 1596-1601.</li>
	<li>Parkin, A., Cavazza, C., Fontecilla-Camps, J.C., and Armstrong, F.A. (2006) Electrochemical investigations of the interconversions between catalytic and inhibited states of the [FeFe]-hydrogenase from <i>Desulfovibrio desulfuricans</i>. <i>J. Am. Chem. Soc.</i> <b>128</b>: 16808-16815.</li>
	<li>Roseboom, W., De Lacey, A.L., Fernandez, V.M., Hatchikian, E.C. and Albracht, S.P. (2006) The active site of the [FeFe]-hydrogenase from <i>Desulfovibrio desulfuricans</i>. II. Redox properties, light sensitivity and CO-ligand exchange as observed by infrared spectroscopy. <i>J. Biol. Inorg. Chem.</i> <b>11</b>: 102-118.</li>
	<li>Ryde, U., Greco, C., and De Gioia, L. (2010) Quantum refinement of [FeFe] hydrogenase indicates a dithiomethylamine ligand. <i>J. Am. Chem. Soc.</i> <b>132</b>: 4512-4513.</li>
	<li>Silakov, A., Kamp, C., Reijerse, E., Happe, T., and Lubitz, W. (2009) Spectroelectrochemical characterization of the active site of the [FeFe] hydrogenase HydA1 from <i>Chlamydomonas reinhardtii</i>. <i>Biochem.</i> <b>48</b>: 7780-7786.</li>
	<li>Silakov, A., Reijerse, E.J., Albracht, S.P., Hatchikian, E.C., and Lubitz, W. (2007) The electronic structure of the H-cluster in the [FeFe]-hydrogenase from <i>Desulfovibrio desulfuricans</i>: a Q-band <sup>57</sup>Fe-ENDOR and HYSCORE study. <i>J. Am. Chem. Soc.</i> <b>129</b>: 11447-11458.</li>
	<li>Silakov, A., Wenk, B., Reijerse, E. and Lubitz, W. (2009) <sup>14</sup>N HYSCORE investigation of the H-cluster of [FeFe] hydrogenase: evidence for a nitrogen in the dithiol bridge. <i>Phys. Chem. Chem. Phys.</i> <b>11</b>: 6592-6599.</li>
	<li>Stiebritz, M.T. and Reiher, M. (2009) Theoretical study of dioxygen induced inhibition of [FeFe]-hydrogenase. <i>Inorg. Chem.</i> <b>48</b>: 7127-7140.</li>
	<li>Stripp, S., Sanganas, O., Happe, T., and Haumann, M. (2009) The structure of the active site H-cluster of [FeFe] hydrogenase from the green alga <i>Chlamydomonas reinhardtii</i> studied by X-ray absorption spectroscopy. <i>Biochem.</i> <b>48</b>: 5042-5049.</li>
	<li>Swanson, K.D., Ratzloff, M.W., Mulder, D.W., Artz, J.H., Ghose, S., Hoffman, A., White, S., Zadvornyy, O.A., Broderick, J.B., Bothner, B., and King, P.W. (2015) [FeFe]-hydrogenase oxygen inactivation is initiated at the H cluster 2Fe subcluster. <i>J. Am. Chem. Soc.</i> <b>137</b>: 1809-1816.</li>
</ul>

	<h3>HydDB entries</h3>

	

			<footer class="text-center">
				<small class="text-muted">&copy; 2016 Dan S&oslash;ndergaard &amp; Chris Greening</small>
			</footer>
		</div>
	</body>
</html>

		
