<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
     Group 1i [NiFe]-hydrogenases (putative class)
</title>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

		<link href="http://services.birk.au.dk/hyddb/static/common/style.css" rel="stylesheet">

		
    
    <link href="http://services.birc.au.dk/hyddb/static/browser/style.css" rel="stylesheet">

				<div class="container">
			<nav class="navbar navbar-inverse">
			  <div class="container-fluid">
			    <div class="navbar-header">
			      <a class="navbar-brand" href="http://services.birc.au.dk/hyddb/">HydDB</a>
			    </div>

			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			      <ul class="nav navbar-nav">
			        <li >
			        	<a href="http://services.birc.au.dk/hyddb/">
				        	<span class="glyphicon glyphicon-tags" aria-hidden="true"></span>&nbsp;Classify
			        	</a>
			        </li>
			        <li >
			        	<a href="http://services.birc.au.dk/hyddb/browser/">
				        	<span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>&nbsp;Browse
			        	</a>
			        </li>
			      </ul>
			    </div>
			  </div>
			</nav>
			
<h1>Group 1i [NiFe]-hydrogenases (putative class)</h1>

	<h3>Properties</h3>
	
            <table class="table table-striped">
                <tr>
                    <td class="entry-property-name" width="200">Group</td>
                    <td>[NiFe] Group 1: Respiratory H<sub>2</sub>-uptake [NiFe] hydrogenases</td>
                </tr>
                <tr>
                    <td class="entry-property-name">Subgroup</td>
                    <td>[NiFe] Group 1i: Coriobacteria-type </td>
                </tr>
                 <tr>
                    <td class="entry-property-name">Function</td>
                    <td>Unconfirmed role. Likely to mediate hydrogenotrophic respiration using unresolved electron acceptor. Enzyme may transfer H<sub>2</sub>-liberated electrons through cyt <i>b</i> and quinone to unresolved terminal reductase.</td>
                </tr>
                 <tr>
                    <td class="entry-property-name">Activity</td>
                    <td>H<sub>2</sub>-uptake (unidirectional)?</td>
                </tr>
                 <tr>
                    <td class="entry-property-name">Oxygen Tolerance</td>
                    <td>O<sub>2</sub>-sensitive?</td>
                </tr>
                 <tr>
                    <td class="entry-property-name">Localisation</td>
                    <td>Membrane-bound</td>
                </tr>
							</table>
							
							
	<h3>Distribution</h3>
	
            <table class="table table-striped">
                 <tr>
                    <td class="entry-property-name" width="200">Ecosystem Distribution</td>
                    <td>Animal host ecosystems</td>
                </tr>
                 <tr>
                    <td class="entry-property-name">Taxonomic Distribution</td>
                    <td>Exclusive to Actinobacteria of the order Coriobacteriales</td>
                </tr>
							</table>

							
	<img src="../distribution/nife1i.tif" />
	
	<h3>Genetic Organisation</h3>
	
	e.g. <i>Eggerthella lenta</i> (WP_009304598.1):</p>

	<img src="../organisation/nife1i.tif" />
								
								
	<h3>Architecture</h3>

            <table class="table table-striped">
						    <tr>
                    <td class="entry-property-name" width="200">Structures</td>
                    <td>N/A</td>
                </tr>
                <tr>
                    <td class="entry-property-name" width="200">Number of Subunits</td>
                    <td>3?</td>
                 </tr>					
                 <tr>
                    <td class="entry-property-name">Subunit Description</td>
                    <td>VhzA (hydrogenase large subunit)<br />
										VhzG (hydrogenase small subunit)<br />
										VhzC (cytochrome <i>b</i> subunit)</td>
                 </tr>
                 <tr>
                    <td class="entry-property-name">Catalytic Site</td>
                    <td>[NiFe]-centre</td>
                </tr>
								<tr>
                    <td class="entry-property-name">[FeS] Clusters</td>
                    <td>Proximal: 3Cys1Asp[4Fe4S]<br />
										Medial: 4Cys[4Fe4S]<br />
										Distal: 3Cys1His[4Fe4S]</td>
                </tr>
							</table>
							
	<h3>Important Notes</h3>
	
	<p>This hydrogenase class has only been identified based on genomic predictions. It may behave similarly to the related Group 1a [NiFe]-hydrogenases. However, physiological, genetic, and biochemical studies are needed to describes its properties.</p>
		
	<h3>Literature</h3>

<p><b>Genetics:</b></p>

<ul>	
  <li>S&oslash;ndergaard, D., Petersen, C.N.S., and Greening, C. (2017) HydDB: a web tool for hydrogenase classification and analysis. Submitted.</li>
</ul>

	<h3>HydDB entries</h3>

	

			<footer class="text-center">
				<small class="text-muted">&copy; 2016 Dan S&oslash;ndergaard &amp; Chris Greening</small>
			</footer>
		</div>
	</body>
</html>

		