<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
     Group 2a [NiFe]-hydrogenases
</title>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

		<link href="http://services.birk.au.dk/hyddb/static/common/style.css" rel="stylesheet">

		
    
    <link href="http://services.birc.au.dk/hyddb/static/browser/style.css" rel="stylesheet">

				<div class="container">
			<nav class="navbar navbar-inverse">
			  <div class="container-fluid">
			    <div class="navbar-header">
			      <a class="navbar-brand" href="http://services.birc.au.dk/hyddb/">HydDB</a>
			    </div>

			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			      <ul class="nav navbar-nav">
			        <li >
			        	<a href="http://services.birc.au.dk/hyddb/">
				        	<span class="glyphicon glyphicon-tags" aria-hidden="true"></span>&nbsp;Classify
			        	</a>
			        </li>
			        <li >
			        	<a href="http://services.birc.au.dk/hyddb/browser/">
				        	<span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>&nbsp;Browse
			        	</a>
			        </li>
			      </ul>
			    </div>
			  </div>
			</nav>
			
<h1>Group 2a [NiFe]-hydrogenases</h1>

	<h3>Properties</h3>
	
            <table class="table table-striped">
                <tr>
                    <td class="entry-property-name" width="200">Group</td>
                    <td>[NiFe] Group 2: Alternative and sensory H<sub>2</sub>-uptake [NiFe] hydrogenases</td>
                </tr>
                <tr>
                    <td class="entry-property-name">Subgroup</td>
                    <td>[NiFe] Group 2a: Cyanobacteria-type </td>
                </tr>
                 <tr>
                    <td class="entry-property-name">Function</td>
                    <td>Hydrogenotrophic respiration using O<sub>2</sub> as the terminal electron acceptor. Important for recycling of H<sub>2</sub> produced by nitrogenase and fermentation. Route of electron transfer unresolved. </td>
                </tr>
                 <tr>
                    <td class="entry-property-name">Activity</td>
                    <td>H<sub>2</sub>-uptake (unidirectional, some high-affinity)</td>
                </tr>
                 <tr>
                    <td class="entry-property-name">Oxygen Tolerance</td>
                    <td>Some O<sub>2</sub>-tolerant</td>
                </tr>
                 <tr>
                    <td class="entry-property-name">Localisation</td>
                    <td>Membrane-associated?</td>
                </tr>
							</table>
							
							
	<h3>Distribution</h3>
	
            <table class="table table-striped">
                 <tr>
                    <td class="entry-property-name" width="200">Ecosystem Distribution</td>
                    <td>Diverse soil and aquatic environments</td>
                </tr>
                 <tr>
                    <td class="entry-property-name">Taxonomic Distribution</td>
                    <td>Widespread among Cyanobacteria and aerobic soil bacteria (e.g. Actinobacteria)  </td>
                </tr>
							</table>

							
	<img src="../distribution/nife2a.tif" />
	
	<h3>Genetic Organisation</h3>
	
	e.g. <i>Mycobacterium smegmatis</i> (WP_003893634.1):</p>

	<img src="../organisation/nife2a.tif" />
								
								
	<h3>Architecture</h3>

            <table class="table table-striped">
						    <tr>
                    <td class="entry-property-name" width="200">Structures</td>
                    <td>N/A</td>
                </tr>
                <tr>
                    <td class="entry-property-name" width="200">Subunits</td>
                    <td>3?</td>
                 </tr>
                <tr>
                    <td class="entry-property-name" width="200">Subunits</td>
                    <td>HucL (hydrogenase large subunit)<br />
										HucS (hydrogenase small subunit)<br />
										HucE (iron-sulfur protein and possible physiological electron acceptor)?</td>
                 </tr>
                 <tr>
                    <td class="entry-property-name">Catalytic Site</td>
                    <td>[NiFe]-centre</td>
                </tr>
								<tr>
                    <td class="entry-property-name">[FeS] Clusters</td>
                    <td>Proximal: 3Cys1Asn[4Fe4S]<br />
										Medial: 3Cys[3Fe4S]<br />
										Distal: 3Cys1Glu[4Fe4S]</td>
                </tr>
							</table>
		
	<h3>Literature</h3>

<p><b>Genetics:</b></p>

<ul>
  <li>Axelsson, R., Oxelfelt, F., and Lindblad, P. (1999) Transcriptional regulation of <i>Nostoc</i> uptake hydrogenase. <em>FEMS Microbiol. Lett.</em> <strong>170</strong>: 77-81.</li>
	<li>Berney, M., Greening, C., Hards, K., Collins, D., and Cook, G.M. (2014) Three different [NiFe] hydrogenases confer metabolic flexibility in the obligate aerobe <em>Mycobacterium smegmatis</em>. <em>Environ. Microbiol.</em> <strong>16</strong>: 318-330.</li>
	<li>Boison, G., Bothe, H., and Schmitz, O. (2000) Transcriptional analysis of hydrogenase genes in the cyanobacteria <i>Anacystis nidulans</i> and <i>Anabaena variabilis</i> monitored by RT-PCR. <i>Curr. Microbiol.</i> <b>40</b>: 315-321.</li>
	<li>Happe, T., Sch&uuml;tz, K., and B&ouml;hme, H. (2000) Transcriptional and mutational analysis of the uptake hydrogenase of the filamentous cyanobacterium <i>Anabaena variabilis</i> ATCC 29413. <i>J. Bacteriol.</i> <b>182</b>: 1624-1631.</li>
	<li>Oliveira, P., Leit&atilde;o, E., Tamagnini, P, Moradas-Ferreira, P., and Oxelfelt, F. (2004) Characterization and transcriptional analysis of <i>hupSLW</i> in <i>Gloeothece</i> sp. ATCC 27152: an uptake hydrogenase from a unicellular cyanobacterium. <i>Microbiol.</i> <b>150</b>: 3647-3655.</li>
	<li>Tamagnini, P., Costa, J.-L., Almeida, L., Oliveira, M.-J., Salema, R., and Lindblad, P. (2000) Diversity of cyanobacterial hydrogenases, a molecular approach. <i>Curr. Microbiol.</i> <b>40</b>: 356-361.</li>
	<li>Tel-Or, E., Luijk, L.W., and Packer, L. (1977) An inducible hydrogenase in cyanobacteria enhances N<sub>2</sub> fixation. <i>FEBS Lett.</i> <b>78</b>: 49-52.</li>
	<li>Vignais, P.M., Billoud, B., and Meyer, J. (2001) Classification and phylogeny of hydrogenases. <i>FEMS Microbiol. Rev.</i> <b>25</b>: 455-501.</li>
</ul>

<p><b>Physiology:</b></p>

<ul>
	<li>Berney, M., Greening, C., Conrad, R., Jacobs, W.R., and Cook, G.M. (2014) An obligately aerobic soil bacterium activates fermentative hydrogen production to survive reductive stress during hypoxia. <em>Proc. Natl. Acad. Sci. U. S. A.</em> <strong>111</strong>: 11479-11484.</li>
  <li>Grostern, A. and Alvarez-Cohen, L. (2013) RubisCO-based CO<sub>2</sub> fixation and C1 metabolism in the actinobacterium <i>Pseudonocardia dioxanivorans</i> CB1190. <i>Environ. Microbiol.</i> <b>15</b>: 3040-3053.</li>
	<li>Greening, C., Berney, M., Hards, K., Cook, G.M., and Conrad, R. (2014) A soil actinobacterium scavenges atmospheric H<sub>2</sub> using two membrane-associated, oxygen-dependent [NiFe] hydrogenases. <em>Proc. Natl. Acad. Sci. U. S. A.</em> <strong>111</strong>: 4257-61.</li>
  <li>Hedrich, S. and Johnson, D.B. (2013) Aerobic and anaerobic oxidation of hydrogen by acidophilic bacteria. <i>FEMS Microbiol. Lett.</i> <b>349</b>: 40-45.</li>
	<li>Houchins, J.P. and Burris, R.H. (1981) Occurrence and localization of two distinct hydrogenases in the heterocystous cyanobacterium <i>Anabaena</i> sp. strain 7120. <i>J. Bacteriol.</i> <b>146</b>: 209-214.</li>
	<li>Lindberg, P., Sch&uuml;tz, K., Happe, T., and Lindblad, P. (2002) A hydrogen-producing, hydrogenase-free mutant strain of <i>Nostoc punctiforme</i> ATCC 29133. <i>Int. J. Hydrogen Energy</i> <b>27</b>: 1291-1296.</li>
	<li>Masukawa, H., Mochimaru, M., and Sakurai, H. (2002) Disruption of the uptake hydrogenase gene, but not of the bidirectional hydrogenase gene, leads to enhanced photobiological hydrogen production by the nitrogen-fixing cyanobacterium Anabaena sp. PCC 7120. <i>Appl. Microbiol. Biotechnol.</i> <b>58</b>: 618-624.</li>
	<li>Ohmura, N., Sasaki, K., Matsumoto, N. and Saiki, H. (2002) Anaerobic respiration using Fe<sup>3+</sup>, S<sub>0</sub>, and H<sub>2</sub> in the chemolithoautotrophic bacterium Acidithiobacillus ferrooxidans. <i>J. Bacteriol.</i> <b>184</b>: 2081-2087.</li>
	<li>Papen, H., Kentemich, T., Schm&uuml;lling, T., and Bothe, H. (1986) Hydrogenase activities in cyanobacteria. <i>Biochimie</i> <b>68</b>: 121-132.</li>
  <li>Shima, S. and Suzuki, K. (1993) <i>Hydrogenobacter acidophilus</i> sp. nov., a thermoacidophilic, aerobic, hydrogen-oxidizing bacterium requiring elemental sulfur for growth. <i>Int. J. Syst. Bacteriol.</i> <b>43</b>: 703-708.</li>
</ul>

<p><b>Biochemistry:</b></p>

<ul>
	<li>Kumazawa, S. and Mitsui, A. (1985) Comparative amperometric study of uptake hydrogenase and hydrogen photoproduction between heterocystous cyanobacterium <i>Anabaena cylindrica</i> B629 and nonheterocystous cyanobacterium <i>Oscillatoria</i> sp. strain Miami BG7. <i>Appl. Environ. Microbiol.</i> <b>50</b>: 287-291.</li>
	<li>Raleiras, P., Kellers, P., Lindblad, P., Styring, S. and Magnuson, A. (2013) Isolation and characterization of the small subunit of the uptake hydrogenase from the cyanobacterium <i>Nostoc punctiforme</i>. <i>J. Biol. Chem.</i> <b>288</b>: 18345-18352.</li>
	<li>Raleiras, P., Khanna, N., Miranda, H., M&eacute;sz&aacute;ros, L.S., Krassen, H., Ho, F., Battchikova, N., Aro, E.M., Magnuson, A., Lindblad, P., and Styring, S (2016) Turning around the electron flow in an uptake hydrogenase. EPR spectroscopy and <i>in vivo</i> activity of a designed mutant in HupSL from <i>Nostoc punctiforme</i>. <i>Energy Environ. Sci.</i>: In press.</li>
</ul>

<p><b>Chemistry:</b></p>

<ul>
	<li>Bleijlevens, B., Jongh, T.E., Chen, Z., Li, T., Fischer, J.R., F&ouml;rster, J., Friedrich, C.G., Bagley, K.A., Albracht, S.P., and Lubitz, W. (2007) Characterization of a cyanobacterial-like uptake [NiFe]- hydrogenase: EPR and FTIR spectroscopic studies of the enzyme from <i>Acidithiobacillus ferrooxidans</i>. <i>J. Biol. Inorg. Chem.</i> <b>12</b>: 212-233.</li>
</ul>
	
	<h3>HydDB entries</h3>

	

			<footer class="text-center">
				<small class="text-muted">&copy; 2016 Dan S&oslash;ndergaard &amp; Chris Greening</small>
			</footer>
		</div>
	</body>
</html>

		