<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
     Group 3c [NiFe]-hydrogenases
</title>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

		<link href="http://services.birk.au.dk/hyddb/static/common/style.css" rel="stylesheet">

		
    
    <link href="http://services.birc.au.dk/hyddb/static/browser/style.css" rel="stylesheet">

				<div class="container">
			<nav class="navbar navbar-inverse">
			  <div class="container-fluid">
			    <div class="navbar-header">
			      <a class="navbar-brand" href="http://services.birc.au.dk/hyddb/">HydDB</a>
			    </div>

			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			      <ul class="nav navbar-nav">
			        <li >
			        	<a href="http://services.birc.au.dk/hyddb/">
				        	<span class="glyphicon glyphicon-tags" aria-hidden="true"></span>&nbsp;Classify
			        	</a>
			        </li>
			        <li >
			        	<a href="http://services.birc.au.dk/hyddb/browser/">
				        	<span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>&nbsp;Browse
			        	</a>
			        </li>
			      </ul>
			    </div>
			  </div>
			</nav>
			
<h1>Group 3c [NiFe]-hydrogenases</h1>

	<h3>Properties</h3>
	
            <table class="table table-striped">
                <tr>
                    <td class="entry-property-name" width="200">Group</td>
                    <td>[NiFe] Group 3: Cofactor-coupled bidirectional [NiFe] hydrogenases</td>
                </tr>
                <tr>
                    <td class="entry-property-name">Subgroup</td>
                    <td>[NiFe] Group 3c: Heterodisulfide reductase-linked </td>
                </tr>
                 <tr>
                    <td class="entry-property-name">Function</td>
                    <td>Bifurcates electrons from H<sub>2</sub> to heterodisulfide and ferredoxin. This is the final step in the Wolfe cycle of methanogenesis.</td>
                </tr>
                 <tr>
                    <td class="entry-property-name">Activity</td>
                    <td>Electron-bifurcation</td>
                </tr>
                 <tr>
                    <td class="entry-property-name">Oxygen Tolerance</td>
                    <td>O<sub>2</sub>-tolerant?</td>
                </tr>
                 <tr>
                    <td class="entry-property-name">Localisation</td>
                    <td>Cytosolic</td>
                </tr>
							</table>
							
							
	<h3>Distribution</h3>
	
            <table class="table table-striped">
                 <tr>
                    <td class="entry-property-name" width="200">Ecosystem Distribution</td>
                    <td>Methanogenic environments such as anoxic soils, marine sediments, and gastrointestinal tracts</td>
                </tr>
                 <tr>
                    <td class="entry-property-name">Taxonomic Distribution</td>
                    <td>Encoded in most methanogens and sulfate-reducing bacteria </td>
                </tr>
							</table>

							
	<img src="../distribution/nife3c.tif" />
	
	<h3>Genetic Organisation</h3>
	
	e.g. <i>Methanothermobacter marburgensis</i> (WP_013296307.1):</p>

	<img src="../organisation/nife3c.tif" />
								
								
	<h3>Architecture</h3>

            <table class="table table-striped">
						    <tr>
                    <td class="entry-property-name" width="200">Structures</td>
                    <td>N/A</td>
                </tr>
                <tr>
                    <td class="entry-property-name" width="200">Number of Subunits</td>
                    <td>4</td>
                 </tr>										
                <tr>
                    <td class="entry-property-name">Subunit Description</td>
                    <td>MvhA (hydrogenase large subunit)<br />
										MvhG (hydrogenase small subunit)<br />
										MvhD (iron-sulfur subunit)<br />
										MvhB (polyferredoxin subunit)<br />
										Forms complex with heterodisulfide reductase (HdrABC)</td>
                </tr>
                 <tr>
                    <td class="entry-property-name">Catalytic Site</td>
                    <td>[NiFe]-centre or [NiFeSe]-centre</td>
                </tr>                <tr>
                    <td class="entry-property-name">[FeS] Clusters</td>
                    <td>Proximal: 4Cys[4Fe4S]<br />
										Medial: 4Cys[4Fe4S]<br />
										Distal: 4Cys[4Fe4S]</td>
                </tr>
							</table>
		
	<h3>Literature</h3>

<p><b>Genetics:</b></p>

<ul>
	<li>Bergh&ouml;fer, Y., Agha-Amiri, K., and Klein, A. (1994) Selenium is involved in the negative regulation of the expression of selenium-free [NiFe] hydrogenases in <i>Methanococcus voltae</i>. <i>Mol. Gen. Genet.</i> <b>242</b>: 369-373.</li>
	<li>Coppi, M.V. (2005) The hydrogenases of <i>Geobacter sulfurreducens</i>: a comparative genomic perspective. <i>Microbiol.</i> <b>151</b>: 1239-1254.</li>
	<li>Mander, G.J., Pierik, A.J., Huber, H., and Hedderich, R. (2004) Two distinct heterodisulfide reductase-like enzymes in the sulfate-reducing archaeon <i>Archaeoglobus profundus</i>. <i>Eur. J. Biochem.</i> <b>271</b>: 1106-1116.</li>
	<li>Halboth, S. and Klein, A. (1992) <i>Methanococcus voltae</i> harbors four gene clusters potentially encoding two [NiFe] and two [NiFeSe] hydrogenases, each of the cofactor F<sub>420</sub>-reducing or F<sub>420</sub>-non-reducing types. <i>Mol. Gen. Genet.</i> <b>233</b>: 217-224.</li>
	<li>Hocking, W.P., Stokke, R., Roalkvam, I., and Steen, I.H. (2014) Identification of key components in the energy metabolism of the hyperthermophilic sulfate-reducing archaeon <i>Archaeoglobus fulgidus</i> by transcriptome analyses. <i>Front. Microbiol.</i> <b>5</b>: 95.</li>
	<li>Reeve, J.N., Beckler, G.S., Cram, D.S., Hamilton, P.T., Brown, J.W., Krzycki, J.A., Kolodziej, A.F., Alex, L., Orme-Johnson, W.H., and Walsh, C.T. (1989) A hydrogenase-linked gene in <i>Methanobacterium thermoautotrophicum</i> strain delta H encodes a polyferredoxin. <i>Proc. Natl. Acad. Sci. USA</i> <b>86</b>:  3031-3035.</li>
	<li>Steigerwald, V.J., Beckler, G.S., and Reeve, J.N. (1990) Conservation of hydrogenase and polyferredoxin structures in the hyperthermophilic archaebacterium <i>Methanothermus fervidus</i>. <i>J. Bacteriol.</i> <b>172</b>: 4715-4718.</li>
	<li>Vignais, P.M., Billoud, B., and Meyer, J. (2001) Classification and phylogeny of hydrogenases. <i>FEMS Microbiol. Rev.</i> <b>25</b>: 455-501.</li>
</ul>

<p><b>Physiology:</b></p>

<ul>
	<li>Costa, K.C., Lie, T.J., Xia, Q., and Leigh, J.A. (2013) VhuD facilitates electron flow from H<sub>2</sub> or formate to heterodisulfide reductase in <i>Methanococcus maripaludis</i>. <i>J. Bacteriol.</i> <b>195</b>: 5160-5165.</li>
	<li>Costa, K.C., Wong, P.M., Wang, T., Lie, T.J., Dodsworth, J.A., Swanson, I., Burn, J.A., Hackett, M., and Leigh, J.A. (2010) Protein complexing in a methanogen suggests electron bifurcation and electron delivery from formate to heterodisulfide reductase. <i>Proc. Natl. Acad. Sci. USA</i> <b>107</b>: 11050-11055.</li>
	<li>Kaster, A.K., Moll, J., Parey, K., and Thauer, R.K. (2011) Coupling of ferredoxin and heterodisulfide reduction via electron bifurcation in hydrogenotrophic methanogenic archaea. <i>Proc. Acad. Natl. Sci. USA</i> <b>108</b>: 2981-2986.</li>
	<li>Kr&ouml;ninger, L., Berger, S., Welte, C., and Deppenmeier, U. (2015) Evidence for the involvement of two heterodisulfide reductases in the energy-conserving system of <i>Methanomassiliicoccus luminyensis</i>. <i>FEBS J.</i>: in press.</li>
	<li>Pfeiffer, M., Bestgen, H., B&uuml;rger, A., and Klein, A. (1998) The <i>vhuU</i> gene encoding a small subunit of a selenium-containing [NiFe]-hydrogenase in <i>Methanococcus voltae</i> appears to be essential for the cell. <i>Arch. Microbiol.</i> <b>170</b>: 418-426.</li>
	<li>Stojanowic, A., Mander, G.J., Duin, E.C., and Hedderich, R. (2003) Physiological role of the F<sub>420</sub>-non-reducing hydrogenase (Mvh) from <i>Methanothermobacter marburgensis</i>. <i>Arch. Microbiol.</i> <b>180</b>: 194-203.</li>
	<li>Thauer, R.K., 2012. The Wolfe cycle comes full circle. <i>Proc. Acad. Natl. Sci. USA</i> <b>109</b>: 15084-15085.</li>
	<li>Thauer, R.K., Kaster, A.K., Seedorf, H., Buckel, W., and Hedderich, R. (2008) Methanogenic archaea: ecologically relevant differences in energy conservation. <i>Nat. Rev. Microbiol.</i> <b>6</b>: 579-591.</li>
	<li>Woo, G.J., Wasserfallen, A., and Wolfe, R.S. (1993) Methyl viologen hydrogenase II, a new member of the hydrogenase family from <i>Methanobacterium thermoautotrophicum</i> delta H. <i>J. Bacteriol.</i> <b>175</b>: 5970-5977.</li>
</ul>

<p><b>Biochemistry:</b></p>

<ul>
	<li>Braks, I.J., Hoppert, M., Roge, S., and Mayer, F. (1994) Structural aspects and immunolocalization of the F<sub>420</sub>-reducing and non-F<sub>420</sub>-reducing hydrogenases from <i>Methanobacterium thermoautotrophicum</i> Marburg. <i>J. Bacteriol.</i> <b>176</b>: 7677-7687.</li>
	<li>Setzke, E., Hedderich, R., Heiden, S., and Thauer, R.K. (1994). H<sub>2</sub>: heterodisulfide oxidoreductase complex from <i>Methanobacterium thermoautotrophicum</i>. <i>Eur. J. Biochem.</i> <b>220</b>: 139-148.</li>
</ul>

<p><b>Chemistry:</b></p>

<ul>
	<li>Sorgenfrei, O., Duin, E.C., Klein, A., and Albracht, S.P. (1996) Interactions of <sup>77</sup>Se and <sup>13</sup>CO with nickel in the active site of active F<sub>420</sub>-nonreducing hydrogenase from <i>Methanococcus voltae</i>. <i>J. Biol. Chem.</i> <b>271</b>: 23799-23806.</li>
	<li>Sorgenfrei, O., Klein, A. and Albracht, S.P. (1993) Influence of illumination on the electronic interaction between <sup>77</sup>Se and nickel in active F<sub>420</sub>-non-reducing hydrogenase from <i>Methanococcus voltae</i>. <i>FEBS Lett.</i> <b>332</b>: 291-297.</li>
</ul>

	<h3>HydDB entries</h3>

	

			<footer class="text-center">
				<small class="text-muted">&copy; 2016 Dan S&oslash;ndergaard &amp; Chris Greening</small>
			</footer>
		</div>
	</body>
</html>

		