<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
     Group 4b [NiFe]-hydrogenases
</title>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

		<link href="http://services.birk.au.dk/hyddb/static/common/style.css" rel="stylesheet">

		
    
    <link href="http://services.birc.au.dk/hyddb/static/browser/style.css" rel="stylesheet">

				<div class="container">
			<nav class="navbar navbar-inverse">
			  <div class="container-fluid">
			    <div class="navbar-header">
			      <a class="navbar-brand" href="http://services.birc.au.dk/hyddb/">HydDB</a>
			    </div>

			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			      <ul class="nav navbar-nav">
			        <li >
			        	<a href="http://services.birc.au.dk/hyddb/">
				        	<span class="glyphicon glyphicon-tags" aria-hidden="true"></span>&nbsp;Classify
			        	</a>
			        </li>
			        <li >
			        	<a href="http://services.birc.au.dk/hyddb/browser/">
				        	<span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>&nbsp;Browse
			        	</a>
			        </li>
			      </ul>
			    </div>
			  </div>
			</nav>
			
<h1>Group 4b [NiFe]-hydrogenases</h1>

	<h3>Properties</h3>
	
            <table class="table table-striped">
                <tr>
                    <td class="entry-property-name" width="200">Group</td>
                    <td>[NiFe] Group 4: Respiratory H<sub>2</sub>-evolving</sub> [NiFe] hydrogenases</td>
                </tr>
                <tr>
                    <td class="entry-property-name">Subgroup</td>
                    <td>[NiFe] Group 4b: Formate-respiring </td>
                </tr>
                 <tr>
                    <td class="entry-property-name">Function</td>
                    <td>Forms respiratory supercomplex that couples oxidation of low-potential carbon compounds to reduction of protons concomitant with Na<sup>+</sup> translocation. Electron-input modules include formate dehydrogenases, carbon monoxide dehydrogenases, and potentially glutamate synthases. Electrons flow through hydrogenase resulting in proton reduction to H<sub>2</sub>. The energy released is used to translocate Na<sup>+</sup> ions through Mrp-like antiporter subunits to generate a sodium-motive force. </td>
                </tr>
                 <tr>
                    <td class="entry-property-name">Activity</td>
                    <td>H<sub>2</sub>-evolution</td>
                </tr>
                 <tr>
                    <td class="entry-property-name">Oxygen Tolerance</td>
                    <td>O<sub>2</sub>-sensitive</td>
                </tr>
                 <tr>
                    <td class="entry-property-name">Localisation</td>
                    <td>Membrane-bound</td>
                </tr>
							</table>
							
							
	<h3>Distribution</h3>
	
            <table class="table table-striped">
                 <tr>
                    <td class="entry-property-name" width="200">Ecosystem Distribution</td>
                    <td>Hydrothermal systems, other high temperature environments</td>
                </tr>
                 <tr>
                    <td class="entry-property-name">Taxonomic Distribution</td>
                    <td>Encoded in Thermococci, Thermoprotei, and Thermodesulfovibrio </td>
                </tr>
							</table>

							
	<img src="../distribution/nife4b.tif" />
	
	<h3>Genetic Organisation</h3>
	
	<p>e.g. <i>Pyrococcus abyssi</i> (WP_010868591.1):</p>

	<img src="../organisation/nife4b.tif" width="100%" />
	
	<h3>Architecture</h3>

            <table class="table table-striped">
						    <tr>
                    <td class="entry-property-name" width="200">Structures</td>
                    <td>N/A</td>
                </tr>
                <tr>
                    <td class="entry-property-name" width="200">Number of Subunits</td>
                    <td>13+</td>
                 </tr>										
                <tr>
                    <td class="entry-property-name">Subunit Description</td>
                    <td>MchD (hydrogenase large subunit)<br />
										MchF (hydrogenase small subunit)<br />
										MchC (NuoH-like transmembrane adaptor)<br />
										MchAB (NuoL-like transmembrane adaptors)<br />
										MchE (NuoC-like transmembrane adaptor)<br />
										MchHIJKLMN (Mrp-like antiporter subunits)<br />
										Form functional complexes with formate dehydrogenases, carbon monoxide dehydrogenases, and glutamate synthases</td>
                </tr>
                 <tr>
                    <td class="entry-property-name">Catalytic Site</td>
                    <td>[NiFe]-centre</td>
                </tr>
                <tr>
                    <td class="entry-property-name">[FeS] Clusters</td>
                    <td>Proximal: 4Cys[4Fe4S]<br />
										Medial: Absent<br />
										Distal: Absent</td>
                </tr>
							</table>

	<h3>Literature</h3>

<p><b>Genetics:</b></p>

<ul>

	<li>Kim, M.S., Bae, S.S., Kim, Y.J., Kim, T.W., Lim, J.K., Lee, S.H., Choi, A.R., Jeon, J.H., Lee, J.H., Lee, H.S., and Kang, S.G. (2013) CO-dependent H<sub>2</sub> production by genetically engineered <i>Thermococcus onnurineus</i> NA1. <i>Appl. Environ. Microbiol.</i> <b>79</b>: 2048-2053.</li>
	<li>Lee, S.H., Kim, M.S., Bae, S.S., Choi, A.R., Lee, J.W., Kim, T.W., Lee, J.H., Lee, H.S., and Kang, S.G. (2014) Comparison of CO-dependent H<sub>2</sub> production with strong promoters in <i>Thermococcus onnurineus</i> NA1. <i>Appl. Microbiol. Biotechnol.</i>
	<li>Lim, J.K., Kang, S.G., Lebedinsky, A.V., Lee, J.H., and Lee, H.S. (2010) Identification of a novel class of membrane-bound [NiFe]-hydrogenases in <i>Thermococcus onnurineus</i> NA1 by in silico analysis. <i>Appl. Environ. Microbiol.</i> <b>76</b>: 6286-6289.</li>
	<li>Lipscomb, G.L., Schut, G.J., Thorgersen, M.P., Nixon, W.J., Kelly, R.M. and Adams, M.W. (2014) Engineering hydrogen gas production from formate in a hyperthermophile by heterologous production of an 18-subunit membrane-bound complex. <i>J. Biol. Chem.</i> <b>289</b>: 2873-2879.</li> <b>98</b>: 979-986.</li>
	<li>Moon, Y.J., Kwon, J., Yun, S.H., Lim, H.L., Kim, M.S., Kang, S.G., Lee, J.H., Choi, J.S., Kim, S.I., and Chung, Y.H. (2012) Proteome analyses of hydrogen-producing hyperthermophilic archaeon <i>Thermococcus onnurineus</i> NA1 in different one-carbon substrate culture conditions. <i>Mol. Cell. Proteomics</i> <b>11</b>: M111-015420.</li>
	<li>Schut, G.J., Lipscomb, G.L., Nguyen, D.M., Kelly, R.M., and Adams, M.W. (2016) Heterologous production of an energy-conserving carbon monoxide dehydrogenase complex in the hyperthermophile <i>Pyrococcus furiosus</i>. <i>Front. Microbiol.</i> <b>7</b>: In press.</li>
  <li>S&oslash;ndergaard, D., Petersen, C.N.S., and Greening, C. (2017) HydDB: a web tool for hydrogenase classification and analysis. Submitted.</li>
	<li>Tak&aacute;cs, M., T&oacute;th, A., Bogos, B., Varga, A., R&aacute;khely, G., and Kov&aacute;cs, K.L. (2008) Formate hydrogenlyase in the hyperthermophilic archaeon, <i>Thermococcus litoralis</i>. <i>BMC Microbiol.</i> <b>8</b>: 88.</li>
	<li>Yun, S.H., Kwon, S.O., Park, G.W., Kim, J.Y., Kang, S.G., Lee, J.H., Chung, Y.H., Kim, S., Choi, J.S., and Kim, S.I. (2011) Proteome analysis of <i>Thermococcus onnurineus</i> NA1 reveals the expression of hydrogen gene cluster under carboxydotrophic growth. <i>J. Proteomics</i> <b>74</b>: 1926-1933.</li>
</ul>

<p><b>Physiology:</b></p>
	
<ul>
	<li>Bae, S.S., Kim, T.W., Lee, H.S., Kwon, K.K., Kim, Y.J., Kim, M.S., Lee, J.H., and Kang, S.G. (2012) H<sub>2</sub> production from CO, formate or starch using the hyperthermophilic archaeon, <i>Thermococcus onnurineus</i>. <i>Biotechnol. Lett.</i> <b>34</b>: 75-79.</li>
	<li>Bae, S.S., Lee, H.S., Jeon, J.H., Lee, J.H., Kang, S.G. and Kim, T.W. (2015) Enhancing bio-hydrogen production from sodium formate by hyperthermophilic archaeon, <i>Thermococcus onnurineus</i> NA1. <i>Bioproc. Biosyst. Eng.</i> <b>38</b>: 989-993.</li>
	<li>Kim, Y.J. et al. (2010). Formate-driven growth coupled with H<sub>2</sub> production. <i>Nature</i> <b>467</b>: 352-355.</li>
	<li>Lim, J.K., Bae, S.S., Kim, T.W., Lee, J.H., Lee, H.S., and Kang, S.G. (2012) Thermodynamics of formate-oxidizing metabolism and implications for H<sub>2</sub> production. <i>Appl. Environ. Microbiol.</i> <b>78</b>: 7393-7397.</li>
	<li>Lim, J.K., Mayer, F., Kang, S.G. and M&uuml;ller, V. (2014) Energy conservation by oxidation of formate to carbon dioxide and hydrogen via a sodium ion current in a hyperthermophilic archaeon. <i>Proc. Natl. Acad. Sci. USA</i> <b>111</b>: 11497-11502.</li>
	<li>Schut, G.J., Boyd, E.S., Peters, J.W., and Adams, M.W. (2013) The modular respiratory complexes involved in hydrogen and sulfur metabolism by heterotrophic hyperthermophilic archaea and their evolutionary implications. <i>FEMS Microbiol. Rev.</i> <b>37</b>: 182-203.</li>
</ul>

	<h3>HydDB entries</h3>

	

			<footer class="text-center">
				<small class="text-muted">&copy; 2016 Dan S&oslash;ndergaard &amp; Chris Greening</small>
			</footer>
		</div>
	</body>
</html>

		