<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
     Group 1k [NiFe]-hydrogenases
</title>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

		<link href="http://services.birk.au.dk/hyddb/static/common/style.css" rel="stylesheet">

		
    
    <link href="http://services.birc.au.dk/hyddb/static/browser/style.css" rel="stylesheet">

				<div class="container">
			<nav class="navbar navbar-inverse">
			  <div class="container-fluid">
			    <div class="navbar-header">
			      <a class="navbar-brand" href="http://services.birc.au.dk/hyddb/">HydDB</a>
			    </div>

			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			      <ul class="nav navbar-nav">
			        <li >
			        	<a href="http://services.birc.au.dk/hyddb/">
				        	<span class="glyphicon glyphicon-tags" aria-hidden="true"></span>&nbsp;Classify
			        	</a>
			        </li>
			        <li >
			        	<a href="http://services.birc.au.dk/hyddb/browser/">
				        	<span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>&nbsp;Browse
			        	</a>
			        </li>
			      </ul>
			    </div>
			  </div>
			</nav>
			
<h1>Group 1k [NiFe]-hydrogenases</h1>

	<h3>Properties</h3>
	
            <table class="table table-striped">
                <tr>
                    <td class="entry-property-name" width="200">Group</td>
                    <td>[NiFe] Group 1: Respiratory H<sub>2</sub>-uptake [NiFe] hydrogenases</td>
                </tr>
                <tr>
                    <td class="entry-property-name">Subgroup</td>
                    <td>[NiFe] Group 1k: Methanophenazine-reducing </td>
                </tr>
                 <tr>
                    <td class="entry-property-name">Function</td>
                    <td>Hydrogenotrophic respiration using heterodisulfide as a terminal electron acceptor. Enzyme transfers H<sub>2</sub>-liberated electrons through cyt <i>b</i> and methanophenazine to heterodisulfide reductase.</td>
                </tr>
                 <tr>
                    <td class="entry-property-name">Activity</td>
                    <td>H<sub>2</sub>-uptake (unidirectional)</td>
                </tr>
                 <tr>
                    <td class="entry-property-name">Oxygen Tolerance</td>
                    <td>O<sub>2</sub>-sensitive</td>
                </tr>
                 <tr>
                    <td class="entry-property-name">Localisation</td>
                    <td>Membrane-bound</td>
                </tr>
							</table>
							
							
	<h3>Distribution</h3>
	
            <table class="table table-striped">
                 <tr>
                    <td class="entry-property-name" width="200">Ecosystem Distribution</td>
                    <td>Methanogenic environments such as anoxic soils, marine sediments, and gastrointestinal tracts</td>
                </tr>
                 <tr>
                    <td class="entry-property-name">Taxonomic Distribution</td>
                    <td>Exclusive to methanogens of the order Methanosarcinales</td>
                </tr>
							</table>

							
	<img src="../distribution/nife1k.tif" />
	
	<h3>Genetic Organisation</h3>
	
	e.g. <i>Methanosarcina barkeri</i> (WP_011306827.1):</p>

	<img src="../organisation/nife1k.tif" />
								
								
	<h3>Architecture</h3>

            <table class="table table-striped">
						    <tr>
                    <td class="entry-property-name" width="200">Structures</td>
                    <td>N/A</td>
                </tr>
                <tr>
                    <td class="entry-property-name" width="200">Number of Subunits</td>
                    <td>3</td>
                 </tr>					
                 <tr>
                    <td class="entry-property-name">Subunit Description</td>
                    <td>VhoB (hydrogenase large subunit)<br />
										VhoA (hydrogenase small subunit)<br />
										VhoC (cytochrome <i>b</i> subunit)</td>
                 </tr>
                 <tr>
                    <td class="entry-property-name">Catalytic Site</td>
                    <td>[NiFe]-centre</td>
                </tr>
								<tr>
                    <td class="entry-property-name">[FeS] Clusters</td>
                    <td>Proximal: 4Cys[4Fe4S]<br />
										Medial: 4Cys[4Fe4S]<br />
										Distal: 3Cys1His[4Fe4S]</td>
                </tr>		
							</table>
							
		
	<h3>Literature</h3>

<p><b>Genetics:</b></p>

<ul>
	<li>Deppenmeier, U., Blaut, M., Lentes, S., Herzberg, C., and Gottschalk, G. (1995) Analysis of the <i>vhoGAC</i> and <i>vhtGAC</i> operons from <i>Methanosarcina mazei</i> strain G&ouml;1, both encoding a membrane-bound hydrogenase and a cytochrome <i>b</i>. Eur. J. Biochem. <b>227</b>: 261-269.</li>
	<li>Deppenmeier, U. (1995) Different structure and expression of the operons encoding the membrane-bound hydrogenases from <i>Methanosarcina mazei</i> G&ouml;1. <em>Arch. Microbiol.</em> <strong>164</strong>: 370-376.</li>
  <li>S&oslash;ndergaard, D., Petersen, C.N.S., and Greening, C. (2017) HydDB: a web tool for hydrogenase classification and analysis. Submitted.</li>
</ul>

<p><b>Physiology:</b></p>

<ul>
	<li>Ide, T., Baumer, S., and Deppenmeier, U. (1999) Energy conservation by the H<sub>2</sub>:heterodisulfide oxidoreductase from <i>Methanosarcina mazei</i> G&ouml;1: identification of two proton-translocating segments. <em>J. Bacteriol.</em> <b>181</b>:4076-4080.</li>
	<li>Kulkarni, G., Kridelbaugh, D.M., Guss, A.M., and Metcalf, W.W. (2009) Hydrogen is a preferred intermediate in the energy-conserving electron transport chain of <i>Methanosarcina barkeri</i>. <i>Proc. Natl. Acad. Sci. U.S.A.</i> <strong>106</strong>: 15915-15920.</li>
	<li>Thauer, R.K., Kaster, A.K., Seedorf, H., Buckel, W., and Hedderich, R. (2008) Methanogenic archaea: ecologically relevant differences in energy conservation. <i>Nat. Rev. Microbiol.</i> <b>6</b>: 579-591.</li>
</ul>

<p><b>Biochemistry:</b></p>

<ul>
	<li>Deppenmeier, U., Blaut, M., Schmidt, B., and Gottschalk, G. (1992) Purification and properties of a F<sub>420</sub>-nonreactive, membrane-bound hydrogenase from <i>Methanosarcina</i> strain G&ouml;1.</li>
	<li>Heiden, S., Hedderich, R., Setzke, E., and Thauer, R.K. (1993) Purification of a cytochrome <i>b</i> containing H<sub>2</sub>:heterodisulfide oxidoreductase complex from membranes of <i>Methanosarcina barkeri</i>. <em>Eur. J. Biochem.</em> <b>213</b>: 529-535.</li>
</ul>

	<h3>HydDB entries</h3>

	

			<footer class="text-center">
				<small class="text-muted">&copy; 2016 Dan S&oslash;ndergaard &amp; Chris Greening</small>
			</footer>
		</div>
	</body>
</html>

		