<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
     Group 3b [NiFe]-hydrogenases
</title>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

		<link href="http://services.birk.au.dk/hyddb/static/common/style.css" rel="stylesheet">

		
    
    <link href="http://services.birc.au.dk/hyddb/static/browser/style.css" rel="stylesheet">

				<div class="container">
			<nav class="navbar navbar-inverse">
			  <div class="container-fluid">
			    <div class="navbar-header">
			      <a class="navbar-brand" href="http://services.birc.au.dk/hyddb/">HydDB</a>
			    </div>

			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			      <ul class="nav navbar-nav">
			        <li >
			        	<a href="http://services.birc.au.dk/hyddb/">
				        	<span class="glyphicon glyphicon-tags" aria-hidden="true"></span>&nbsp;Classify
			        	</a>
			        </li>
			        <li >
			        	<a href="http://services.birc.au.dk/hyddb/browser/">
				        	<span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>&nbsp;Browse
			        	</a>
			        </li>
			      </ul>
			    </div>
			  </div>
			</nav>
			
<h1>Group 3b [NiFe]-hydrogenases</h1>

	<h3>Properties</h3>
	
            <table class="table table-striped">
                <tr>
                    <td class="entry-property-name" width="200">Group</td>
                    <td>[NiFe] Group 3: Cofactor-coupled bidirectional [NiFe] hydrogenases</td>
                </tr>
                <tr>
                    <td class="entry-property-name">Subgroup</td>
                    <td>[NiFe] Group 3b: NADP-coupled </td>
                </tr>
								
								
                 <tr>
                    <td class="entry-property-name">Function</td>
                    <td>Directly couples oxidation of NADPH to fermentative evolution of H<sub>2</sub>. Reverse reaction may also occur. Some complexes controversially proposed to harbour sulfhydrogenase activity. </td>
                </tr>
                 <tr>
                    <td class="entry-property-name">Activity</td>
                    <td>Bidirectional</td>
                </tr>
                 <tr>
                    <td class="entry-property-name">Oxygen Tolerance</td>
                    <td>O<sub>2</sub>-tolerant</td>
                </tr>
                 <tr>
                    <td class="entry-property-name">Localisation</td>
                    <td>Cytosolic</td>
                </tr>
							</table>
							
							
	<h3>Distribution</h3>
	
            <table class="table table-striped">
                 <tr>
                    <td class="entry-property-name" width="200">Ecosystem Distribution</td>
                    <td>Diverse soil and aquatic environments</td>
                </tr>
                 <tr>
                    <td class="entry-property-name">Taxonomic Distribution</td>
                    <td>Encoded in multiple diverse bacterial and archaeal phyla </td>
                </tr>
							</table>

							
	<img src="../distribution/nife3b.tif" />
	
	<h3>Genetic Organisation</h3>
	
	e.g. <i>Pyrococcus furiosus</i> (WP_011012029.1):</p>

	<img src="../organisation/nife3b.tif" />
								
								
	<h3>Architecture</h3>

            <table class="table table-striped">
						    <tr>
                    <td class="entry-property-name" width="200">Structures</td>
                    <td>N/A</td>
                </tr>
                <tr>
                    <td class="entry-property-name" width="200">Number of Subunits</td>
                    <td>4</td>
                 </tr>										
                <tr>
                    <td class="entry-property-name">Subunit Description</td>
                    <td>HyhL (hydrogenase large subunit)<br />
										HyhS (hydrogenase small subunit)<br />
										HyhG (diaphorase catalytic subunit)<br />
										HyhB (diaphorase electron transfer subunit)</td>
                </tr>
                 <tr>
                    <td class="entry-property-name">Catalytic Site</td>
                    <td>[NiFe]-centre</td>
                </tr>                <tr>
                    <td class="entry-property-name">[FeS] Clusters</td>
                    <td>Proximal: 4Cys[4Fe4S]<br />
										Medial: 4Cys[4Fe4S]<br />
										Distal: 4Cys[4Fe4S]</td>
                </tr>
							</table>

	<h3>Important Notes</h3>
	
<p>Despite the ubiquitous nature of this hydrogenase, the enzyme has only been purified from <i>Pyrococcus furiosus</i>. It remains unclear whether bacterial enzymes are also NADP<sup>+</sup>-specific.</p>
		
	<h3>Literature</h3>

<p><b>Genetics:</b></p>

<ul>
	<li>Berney, M., Greening, C., Hards, K., Collins, D., and Cook, G.M. (2014) Three different [NiFe] hydrogenases confer metabolic flexibility in the obligate aerobe <em>Mycobacterium smegmatis</em>. <em>Environ. Microbiol.</em> <strong>16</strong>: 318-330.</li>
	<li>Chandrayan, S.K., McTernan, P.M., Hopkins, R.C., Sun, J., Jenney, F.E., and Adams, M.W. (2012) Engineering hyperthermophilic archaeon <i>Pyrococcus furiosus</i> to overproduce its cytoplasmic [NiFe]-hydrogenase. <i>J. Biol. Chem.</i> <b>287</b>: 3257-3264.</li>
  <li>Greening, C., Biswas, A., Carere, C.R., Jackson, C.J., Taylor, M.C., Stott, M.B., Cook, G.M., and Morales, S.E. (2016) Genomic and metagenomic surveys of hydrogenase distribution indicate H<sub>2</sub> is a widely utilised energy source for microbial growth and survival. <i>ISME J.</i> <b>10</b>: 761-777.</li>
	<li>Mohapatra, A., Leul, M., Sandstr&ouml;m, G., and Sellstedt, A. (2006) Occurrence and characterisation of the hydrogen-evolving enzyme in <i>Frankia</i> sp. <i>Int. J. Hydrogen Energy</i> <b>31</b>: 1445-1451.</li>
	<li>Sun, J., Hopkins, R.C., Jenney Jr, F.E., McTernan, P.M., and Adams, M.W. (2010) Heterologous expression and maturation of an NADP-dependent [NiFe]-hydrogenase: a key enzyme in biofuel production. <i>PLOS One</i> <b>5</b>: e10526.</li>
	<li>Vignais, P.M., Billoud, B., and Meyer, J. (2001) Classification and phylogeny of hydrogenases. <i>FEMS Microbiol. Rev.</i> <b>25</b>: 455-501.</li>
</ul>

<p><b>Physiology:</b></p>

<ul>
	<li>Arendsen, A.F., Veenhuizen, P.T.M., and Hagen, W.R. (1995) Redox properties of the sulfhydrogenase from <i>Pyrococcus furiosus</i>. <i>FEBS Lett.</i> <b>368</b>: 117-121.</li>
	<li>Berney, M., Greening, C., Conrad, R., Jacobs, W.R., and Cook, G.M. (2014) An obligately aerobic soil bacterium activates fermentative hydrogen production to survive reductive stress during hypoxia. <em>Proc. Natl. Acad. Sci. U. S. A.</em> <strong>111</strong>: 11479-11484.</li>
	<li>Yoon, K.S., Ueda, Y., Ishii, M., Igarashi, Y., and Kodama, T. (1996) NADH: ferredoxin reductase and NAD-reducing hydrogenase activities in <i>Hydrogenobacter thermophilus</i> strain TK-6. <i>FEMS Microbiol. Lett.</i> <b>139</b>: 139-142.</li>
	<li>Pedroni, P., Della Volpe, A., Galli, G., Mura, G.M., Pratesi, C., and Grandi, G. (1995) Characterization of the locus encoding the [Ni-Fe] sulfhydrogenase from the archaeon <i>Pyrococcus furiosus</i>: evidence for a relationship to bacterial sulfite reductases. <i>Microbiol.</i> <b>141</b>: 449-458.</li>
</ul>

<p><b>Biochemistry:</b></p>

<ul>
	<li>Bryant, F.O. and Adams, M.W. (1989) Characterization of hydrogenase from the hyperthermophilic archaebacterium, <i>Pyrococcus furiosus</i>. <i>J. Biol. Chem.</i> <b>264</b>: 5070-5079.</li>
	<li>Kanai, T., Ito, S., and Imanaka, T. (2003) Characterization of a cytosolic NiFe-hydrogenase from the hyperthermophilic archaeon <i>Thermococcus kodakaraensis</i> KOD1. <i>J. Bacteriol.</i> <b>185</b>: 1705-1711.</li>
	<li>Kanai, T., Matsuoka, R., Beppu, H., Nakajima, A., Okada, Y., Atomi, H., and Imanaka, T. (2011) Distinct physiological roles of the three [NiFe]-hydrogenase orthologs in the hyperthermophilic archaeon <i>Thermococcus kodakarensis</i>. <i>J. Bacteriol.</i> <b>193</b>: 3109-3116.</li>
	<li>Kwan, P., McIntosh, C.L., Jennings, D.P., Hopkins, R.C., Chandrayan, S.K., Wu, C.H., Adams, M.W., and Jones, A.K. (2015) The [NiFe]-hydrogenase of <i>Pyrococcus furiosus</i> exhibits a new type of oxygen tolerance. <i>J. Am. Chem. Soc.</i> <b>137</b>: 13556-13565.</li>
	<li>Ma, K. and Adams, M.W. (2000) Hydrogenases I and II from <i>Pyrococcus furiosus</i>. <i>Meth. Enzymol.</i> <b>331</b>: 208-216.</li>
	<li>Ma, K., Schicho, R.N., Kelly, R.M., and Adams, M.W. (1993) Hydrogenase of the hyperthermophile <i>Pyrococcus furiosus</i> is an elemental sulfur reductase or sulfhydrogenase: evidence for a sulfur-reducing hydrogenase ancestor. <i>Proc. Natl. Acad. Sci. USA</i> <b>90</b>: 5341-5344.</li>
	<li>Ma, K., Weiss, R. and Adams, M.W. (2000) Characterization of hydrogenase II from the hyperthermophilic archaeon <i>Pyrococcus furiosus</i> and assessment of its role in sulfur reduction. <i>J. Bacteriol.</i> <b>182</b>: 1864-1871.</li>
	<li>Ma, K., Zhou, H.Z. and Adams, M.W. (1994) Hydrogen production from pyruvate by enzymes purified from the hyperthermophilic archaeon, <i>Pyrococcus furiosus</i>: a key role for NADPH. <i>FEMS Microbiol. Lett.</i> <b>122</b>: 245-250.</li>
	<li>McTernan, P.M., Chandrayan, S.K., Wu, C.H., Vaccaro, B.J., Lancaster, W.A., and Adams, M.W. (2015) Engineering the respiratory membrane-bound hydrogenase of the hyperthermophilic archaeon <i>Pyrococcus furiosus</i> and characterization of the catalytically active cytoplasmic subcomplex. <i>Prot. Engin. Des. Select.</i> <b>28</b>: 1-8.</li>
	<li>Mohapatra, A., Leul, M., Mattsson, U., and Sellstedt, A. (2004) A hydrogen-evolving enzyme is present in <i>Frankia</i> sp. R43. <i>FEMS Microbiol. Lett.</i> <b>236</b>: 235-240.</li>
	<li>R&aacute;khely, G., Zhou, Z.H., Adams, M.W., and Kov&aacute;cs, K.L. (1999) Biochemical and molecular characterization of the [NiFe] hydrogenase from the hyperthermophilic archaeon, <i>Thermococcus litoralis</i>. <i>Eur. J. Biochem.</i> <b>266</b>: 1158-1165.</li>
	<li>Schut, G.J., Nixon, W.J., Lipscomb, G.L., Scott, R.A., and Adams, M.W. (2012) Mutational analyses of the enzymes involved in the metabolism of hydrogen by the hyperthermophilic archaeon <i>Pyrococcus furiosus</i>. <i>Front. Microbiol.</i> <b>3</b>: 163.</li>
	<li>Silva, P.J., de Castro, B., and Hagen, W.R. (1999) On the prosthetic groups of the NiFe sulfhydrogenase from <i>Pyrococcus furiosus</i>: topology, structure, and temperature-dependent redox chemistry. <i>J. Biol. Inorg. Chem.</i> <b>4</b>: 284-291.</li>
	<li>Thorgersen, M.P., Stirrett, K., Scott, R.A., and Adams, M.W. (2012) Mechanism of oxygen detoxification by the surprisingly oxygen-tolerant hyperthermophilic archaeon, <i>Pyrococcus furiosus</i>. <i>Proc. Natl. Acad. Sci. USA</i> <b>109</b>: 18547-18552.</li>
</ul>

<p><b>Chemistry:</b></p>

<ul>
	<li>Greene, B.L., Wu, C.H., McTernan, P.M., Adams, M.W. and Dyer, R.B. (2015) Proton-coupled electron transfer dynamics in the catalytic mechanism of a [NiFe]-hydrogenase. <i>J. Am. Chem. Soc.</i> <b>137</b>: 4558-4566.</li>
</ul>
	
	<h3>HydDB entries</h3>

	

			<footer class="text-center">
				<small class="text-muted">&copy; 2016 Dan S&oslash;ndergaard &amp; Chris Greening</small>
			</footer>
		</div>
	</body>
</html>

		