<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
     Group 3d [NiFe]-hydrogenases
</title>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

		<link href="http://services.birk.au.dk/hyddb/static/common/style.css" rel="stylesheet">

		
    
    <link href="http://services.birc.au.dk/hyddb/static/browser/style.css" rel="stylesheet">

				<div class="container">
			<nav class="navbar navbar-inverse">
			  <div class="container-fluid">
			    <div class="navbar-header">
			      <a class="navbar-brand" href="http://services.birc.au.dk/hyddb/">HydDB</a>
			    </div>

			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			      <ul class="nav navbar-nav">
			        <li >
			        	<a href="http://services.birc.au.dk/hyddb/">
				        	<span class="glyphicon glyphicon-tags" aria-hidden="true"></span>&nbsp;Classify
			        	</a>
			        </li>
			        <li >
			        	<a href="http://services.birc.au.dk/hyddb/browser/">
				        	<span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>&nbsp;Browse
			        	</a>
			        </li>
			      </ul>
			    </div>
			  </div>
			</nav>
			
<h1>Group 3d [NiFe]-hydrogenases</h1>

	<h3>Properties</h3>
	
            <table class="table table-striped">
                <tr>
                    <td class="entry-property-name" width="200">Group</td>
                    <td>[NiFe] Group 3: Cofactor-coupled bidirectional [NiFe] hydrogenases</td>
                </tr>
                <tr>
                    <td class="entry-property-name">Subgroup</td>
                    <td>[NiFe] Group 3d: NAD-coupled </td>
                </tr>
                 <tr>
                    <td class="entry-property-name">Function</td>
                    <td>Generates reductant for hydrogenotrophic carbon-fixation by directly coupling oxidation of H<sub>2</sub> to reduction of NAD. Also acts in reverse direction to catalyse fermentative NADH-dependent production of H<sub>2</sub>. Electrons flow between H<sub>2</sub>-activating hydrogenase subunits to NAD-activating diaphorase subunits.</td>
                </tr>
                 <tr>
                    <td class="entry-property-name">Activity</td>
                    <td>Bidirectional</td>
                </tr>
                 <tr>
                    <td class="entry-property-name">Oxygen Tolerance</td>
                    <td>O<sub>2</sub>-tolerant</td>
                </tr>
                 <tr>
                    <td class="entry-property-name">Localisation</td>
                    <td>Cytosolic</td>
                </tr>
							</table>
							
							
	<h3>Distribution</h3>
	
            <table class="table table-striped">
                 <tr>
                    <td class="entry-property-name" width="200">Ecosystem Distribution</td>
                    <td>Diverse soil and aquatic environments</td>
                </tr>
                 <tr>
                    <td class="entry-property-name">Taxonomic Distribution</td>
                    <td>Encoded in diverse Proteobacteria and Cyanobacteria </td>
                </tr>
							</table>

							
	<img src="../distribution/nife3d.tif" />
	
	<h3>Genetic Organisation</h3>
	
	e.g. <i>Ralstonia eutropha</i> (WP_011154013.1):</p>

	<img src="../organisation/nife3d.tif" />
								
								
	<h3>Architecture</h3>

            <table class="table table-striped">
						    <tr>
                    <td class="entry-property-name" width="200">Structures</td>
                    <td>N/A</td>
                </tr>
                <tr>
                    <td class="entry-property-name" width="200">Number of Subunits</td>
                    <td>4 or 5</td>
                 </tr>										
                <tr>
                    <td class="entry-property-name">Subunit Description</td>
                    <td>HoxH (hydrogenase large subunit)<br />
										HoxY (hydrogenase small subunit)<br />
										HoxF (diaphorase catalytic subunit)<br />
										HoxU (diaphorase electron transfer subunit)<br />
										Photosynthetic bacteria also contain HoxE (iron-sulfur subunit) </td>
                </tr>
                 <tr>
                    <td class="entry-property-name">Catalytic Site</td>
                    <td>[NiFe]-centre</td>
                </tr>                <tr>
                    <td class="entry-property-name">[FeS] Clusters</td>
                    <td>Proximal: 4Cys[4Fe4S]<br />
										Medial: Absent<br />
										Distal: Absent</td>
                </tr>
							</table>
		
	<h3>Literature</h3>

<p><b>Genetics:</b></p>

<ul>
	<li>Boison, G., Bothe, H., and Schmitz, O. (2000) Transcriptional analysis of hydrogenase genes in the cyanobacteria <i>Anacystis nidulans</i> and <i>Anabaena variabilis</i> monitored by RT-PCR. <i>Curr. Microbiol.</i> <b>40</b>: 315-321.</li>
	<li>Boison, G., Schmitz, O., Mikheeva, L., Shestakov, S., and Bothe, H. (1996) Cloning, molecular analysis and insertional mutagenesis of the bidirectional hydrogenase genes from the cyanobacterium <i>Anacystis nidulans</i>. <i>FEBS Lett.</i> <b>394</b>: 153-158.</li>
	<li>Boison, G., Schmitz, O., Schmitz, B., and Bothe, H. (1998) Unusual gene arrangement of the bidirectional hydrogenase and functional analysis of its diaphorase subunit HoxU in respiration of the unicellular cyanobacterium <i>Anacystis nidulans</i>. <i>Curr. Microbiol.</i> <b>36</b>: 253-258.</li>
	<li>Eberz, G., Hogrefe, C., Kortl&uuml;ke, C., Kamienski, A., and Friedrich, B. (1986) Molecular cloning of structural and regulatory hydrogenase (<i>hox</i>) genes of <i>Alcaligenes eutrophus</i> H16. <i>J. Bacteriol.</i> <b>168</b>: 636-641.</li>
	<li>Eckert, C., Boehm, M., Carrieri, D., Yu, J., Dubini, A., Nixon, P.J., and Maness, P.C. (2012) Genetic analysis of the Hox hydrogenase in the cyanobacterium <i>Synechocystis</i> sp. PCC 6803 reveals subunit roles in association, assembly, maturation, and function. <i>J. Biol. Chem.</i> <b>287</b>: 43502-43515.</li>
	<li>Gutekunst, K., Phunpruch, S., Schwarz, C., Schuchardt, S., Schulz-Friedrich, R., and Appel, J. (2005) LexA regulates the bidirectional hydrogenase in the cyanobacterium <i>Synechocystis</i> sp. PCC 6803 as a transcription activator. <i>Mol. Microbiol.</i> <b>58</b>: 810-823.</li>
	<li>Grzeszik, C., L&uuml;bbers, M., Reh, M. and Schlegel, H.G. (1997) Genes encoding the NAD-reducing hydrogenase of <i>Rhodococcus opacus</i> MR11. <i>Microbiol.</i> <b>143</b>: 1271-1286.</li>
	<li>Hogrefe, C., R&ouml;mermann, D., and Friedrich, B. (1984) <i>Alcaligenes eutrophus</i> hydrogenase genes (Hox). <i>J. Bacteriol.</i> <b>158</b>: 43-48.</li>
	<li>Mar&oacute;ti, J., Farkas, A., Nagy, I.K., Mar&oacute;ti, G., Kondorosi, &Eacute;., R&aacute;khely, G., and Kov&aacute;cs, K.L. (2010) A second soluble Hox-type NiFe enzyme completes the hydrogenase set in <i>Thiocapsa roseopersicina</i> BBS. <i>Appl. Environ. Microbiol.</i> <b>76</b>: 5113-5123.</li>
	<li>Oliveira, P. and Lindblad, P. (2005) LexA, a transcription regulator binding in the promoter region of the bidirectional hydrogenase in the cyanobacterium <i>Synechocystis</i> sp. PCC 6803. <i>FEMS Microbiol. Lett.</i> <b>251</b>: 59-66.</li>
	<li>Oliveira, P. and Lindblad, P. (2009) Transcriptional regulation of the cyanobacterial bidirectional Hox-hydrogenase. <i>Dalton Trans.</i> <b>45</b>: 9990-9996.</li>
	<li>Schmitz, O., Boison, G., and Bothe, H. (2001) Quantitative analysis of expression of two circadian clock-controlled gene clusters coding for the bidirectional hydrogenase in the cyanobacterium <i>Synechococcus</i> sp. PCC7942. <i>Mol. Microbiol.</i> <b>41</b>: 1409-1417.</li>
	<li>Schmitz, O., Boison, G., Hilscher, R., Hundeshagen, B., Zimmer, W., Lottspeich, F., and Bothe, H. (1995) Molecular biological analysis of a bidirectional hydrogenase from cyanobacteria. <i>Eur. J. Biochem.</i> <b>233</b>: 266-276.</li>
	<li>Sheremetieva, M.E., Troshina, O.Y., Serebryakova, L.T., and Lindblad, P. (2002) Identification of <i>hox</i> genes and analysis of their transcription in the unicellular cyanobacterium <i>Gloeocapsa alpicola</i> CALU 743 growing under nitrate-limiting conditions. <i>FEMS Microbiol. Lett.</i> <b>214</b>: 229-233</li>
	<li>Sj&ouml;holm, J., Oliveira, P., and Lindblad, P. (2007) Transcription and regulation of the bidirectional hydrogenase in the cyanobacterium <i>Nostoc</i> sp. strain PCC 7120. <i>Appl. Environ. Microbiol.</i> <b>73</b>: 5435-5446</li>
	<li>Tran-Betcke, A., Warnecke, U., B&ouml;cker, C., Zaborosch, C., and Friedrich, B. (1990) Cloning and nucleotide sequences of the genes for the subunits of NAD-reducing hydrogenase of <i>Alcaligenes eutrophus</i> H16. <i>J. Bacteriol.</i> <b>172</b>: 2920-2929.</li>
	<li>Vignais, P.M., Billoud, B., and Meyer, J. (2001) Classification and phylogeny of hydrogenases. <i>FEMS Microbiol. Rev.</i> <b>25</b>: 455-501.</li>
	<li>Wells, M.A., Mercer, J., Mott, R.A., Pereira-Medrano, A.G., Burja, A.M., Radianingtyas, H., and Wright, P.C. (2011) Engineering a non-native hydrogen production pathway into <i>Escherichia coli</i> via a cyanobacterial [NiFe] hydrogenase. <i>Metab. Eng.</i> <b>13</b>: 445-453.</li>
</ul>

<p><b>Physiology:</b></p>

<ul>
	<li>Aggag, M. and Schlegel, H.G. (1973) Studies on a gram-positive hydrogen bacterium, <i>Nocardia opaca</i> strain 1b. <i>Arch. Microbiol.</i> <b>88</b>: 299-318.</li>
	<li>Antal, T.K. and Lindblad, P. (2005) Production of H<sub>2</sub> by sulphur-deprived cells of the unicellular cyanobacteria <i>Gloeocapsa alpicola</i> and <i>Synechocystis</i> sp. PCC 6803 during dark incubation with methane or at various extracellular pH. <i>J. Appl. Microbiol.</i> <b>98</b>: 114-120.</li>
	<li>Aubert-Jousset, E., Cano, M., Guedeney, G., Richaud, P., and Cournac, L. (2011) Role of HoxE subunit in <i>Synechocystis</i> PCC6803 hydrogenase. <i>FEBS J.</i> <b>278</b>: 4035-4043.</li>
	<li>Boison, G., Bothe, H., Hansel, A., and Lindblad, P. (1999) Evidence against a common use of the diaphorase subunits by the bidirectional hydrogenase and by the respiratory complex I in cyanobacteria. <i>FEMS Microbiol. Lett.</i> <b>174</b>: 159-165.</li>
	<li>Carrieri, D., Wawrousek, K., Eckert, C., Yu, J., and Maness, P.C. (2011) The role of the bidirectional hydrogenase in cyanobacteria. <i>Bioresource Technol.</i> <b>102</b>: 8368-8377.</li>
	<li>De Rosa, E., Checchetto, V., Franchin, C., Bergantino, E., Berto, P., Szab&ograve;, I., Giacometti, G.M., Arrigoni, G., and Costantini, P. (2015) [NiFe]-hydrogenase is essential for cyanobacterium Synechocystis sp. PCC 6803 aerobic growth in the dark. <i>Sci. Rep.</i> <b>5</b> In press.</li>
	<li>Friedrich, C.G., Friedrich, B. and Bowien, B. (1981) Formation of enzymes of autotrophic metabolism during heterotrophic growth of <i>Alcaligenes eutrophus</i>. <i>Microbiol.</i> <b>122</b>: 69-78.</li>
	<li>Grzeszik, C., Ross, K., Schneider, K., Reh, M., and Schlegel, H.G. (1997) Location, catalytic activity, and subunit composition of NAD-reducing hydrogenases of some <i>Alcaligenes</i> strains and <i>Rhodococcus opacus</i> MR22. <i>Arch. Microbiol.</i> <b>167</b>: 172-176.</li>
	<li>Gutekunst, K., Chen, X., Schreiber, K., Kaspar, U., Makam, S., and Appel, J. (2014) The bidirectional NiFe-hydrogenase in <i>Synechocystis</i> sp. PCC 6803 is reduced by flavodoxin and ferredoxin and is essential under mixotrophic, nitrate-limiting conditions. <i>J. Biol. Chem.</i> <b>289</b>: 1930-1937.</li>
	<li>Hancz&aacute;r, T., Cs&aacute;ki, R., Bodrossy, L., Murrell, C.J., and Kov&aacute;cs, K.L. (2002) Detection and localization of two hydrogenases in <i>Methylococcus capsulatus</i> (Bath) and their potential role in methane metabolism. <i>Arch. Microbiol.</i> <b>177</b>: 167-172.</li>
	<li>Houchins, J.P. and Burris, R.H. (1981) Occurrence and localization of two distinct hydrogenases in the heterocystous cyanobacterium <i>Anabaena</i> sp. strain 7120. <i>J. Bacteriol.</i> <b>146</b>: 209-214.</li>
	<li>Laurinavichene, T.V., R&aacute;khley, G., Kov&aacute;cs, K.L., and Tsygankov, A.A. (2007) The effect of sulfur compounds on H<sub>2</sub> evolution/consumption reactions, mediated by various hydrogenases, in the purple sulfur bacterium, <i>Thiocapsa roseopersicina</i>. <i>Arch. Microbiol.</i> <b>188</b>: 403-410.</li>
	<li>P&aacute;l&aacute;gyi-M&eacute;sz&aacute;ros, L.S., Mar&oacute;ti, J., Latinovics, D., Balogh, T., Klement, E., Medzihradszky, K.F., R&aacute;khely, G., and Kov&aacute;cs, K.L. (2009) Electron-transfer subunits of the NiFe hydrogenases in <i>Thiocapsa roseopersicina</i> BBS. <i>FEBS J.</i> <b>276</b>: 164-174.</li>
	<li>Papen, H., Kentemich, T., Schm&uuml;lling, T. and Bothe, H. (1986) Hydrogenase activities in cyanobacteria. <i>Biochimie</i> <b>68</b>: 121-132.</li>
	<li>Porthun, A., Bernhard, M., and Friedrich, B. (2002) Expression of a functional NAD-reducing [NiFe] hydrogenase from the gram-positive <i>Rhodococcus opacus</i> in the gram-negative <i>Ralstonia eutropha</i>. <i>Arch. Microbiol.</i> <b>177</b>: 159-166.</li>
	<li>R&aacute;khely, G., Kov&aacute;cs, A.T., Maroti, G., Fodor, B.D., Csan&aacute;di, G., Latinovics, D., and Kov&aacute;cs, K.L. (2004) Cyanobacterial-type, heteropentameric, NAD<sup>+</sup>-reducing NiFe hydrogenase in the purple sulfur photosynthetic bacterium <i>Thiocapsa roseopersicina</i>. <i>Appl. Environ. Microbiol.</i> <b>70</b>: 722-728.</li>
	<li>R&aacute;khely, G., Laurinavichene, T.V., Tsygankov, A.A., and Kov&aacute;cs, K.L. (2007) The role of Hox hydrogenase in the H<sub>2</sub> metabolism of <i>Thiocapsa roseopersicina</i>. <i>BBA Bioenerg.</i> <b>1767</b>: 671-676.</li>
	<li>Schmitz, O. and Bothe, H. (1996) NAD(P)<sup>+</sup>-dependent hydrogenase activity in extracts from the cyanobacterium Anacystis nidulans. <i>FEMS Microbiol. Lett.</i> <b>135</b>: 97-101.</li>
	<li>Sch&uuml;tz, K., Happe, T., Troshina, O., Lindblad, P., Leit&atilde;o, E., Oliveira, P., and Tamagnini, P. (2004) Cyanobacterial H<sub>2</sub> production&mdash;a comparative analysis. <i>Planta</i> <b>218</b>: 350-359.</li>
	<li>Tamagnini, P., Leit&atilde;o, E., Oliveira, P., Ferreira, D., Pinto, F., Harris, D.J., Heidorn, T., and Lindblad, P. (2007) Cyanobacterial hydrogenases: diversity, regulation and applications. <i>FEMS Microbiol. Rev.</i> <b>31</b>: 692-720.</li>
</ul>

<p><b>Biochemistry:</b></p>

<ul>
	<li>Burgdorf, T., van der Linden, E., Bernhard, M., Yin, Q.Y., Back, J.W., Hartog, A.F., Muijsers, A.O., de Koster, C.G., Albracht, S.P., and Friedrich, B. (2005) The soluble NAD<sup>+</sup>-reducing [NiFe]-hydrogenase from <i>Ralstonia eutropha</i> H16 consists of six subunits and can be specifically activated by NADPH. <i>J. Bacteriol.</i> <b>187</b>: 3122-3132.</li>
	<li>Germer, F., Zebger, I., Saggu, M., Lendzian, F., Schulz, R., and Appel, J. (2009) Overexpression, isolation, and spectroscopic characterization of the bidirectional [NiFe] hydrogenase from <i>Synechocystis</i> sp. PCC 6803. <i>J. Biol. Chem.</i> <b>284</b>: 36462-36472.</li>
	<li>Karstens, K., Wahlefeld, S., Horch, M., Grunzel, M., Lauterbach, L., Lendzian, F., Zebger, I., and Lenz, O. (2015) Impact of the ironsulfur cluster proximal to the active site on the catalytic function of an O<sub>2</sub>-tolerant NAD<sup>+</sup>-reducing [NiFe]-hydrogenase. <i>Biochem.</i> <b>54</b>: 389-403.</li>
	<li>Horch, M., Lauterbach, L., Lenz, O., Hildebrandt, P., and Zebger, I. (2012) NAD(H)-coupled hydrogen cyclingstructurefunction relationships of bidirectional [NiFe] hydrogenases. <i>FEBS Lett.</i> <b>586</b>: 545-556.</li>
	<li>Horch, M., Lauterbach, L., Mroginski, M.A., Hildebrandt, P., Lenz, O., and Zebger, I. (2015) Reversible active site sulfoxygenation can explain the oxygen tolerance of a NAD<sup>+</sup>-reducing [NiFe] hydrogenase and its unusual infrared spectroscopic properties. <i>J. Am. Chem. Soc.</i> <b>137</b>: 2555-2564.</li>
	<li>Lauterbach, L. and Lenz, O. (2013) Catalytic production of hydrogen peroxide and water by oxygen-tolerant [NiFe]-hydrogenase during H<sub>2</sub> cycling in the presence of O<sub>2</sub>. <i>J. Am. Chem. Soc.</i> <b>135</b>: 17897-17905.</li>
	<li>Lauterbach, L., Idris, Z., Vincent, K.A., and Lenz, O. (2011) Catalytic properties of the isolated diaphorase fragment of the NAD<sup>+</sup>-reducing [NiFe]-hydrogenase from <i>Ralstonia eutropha</i>. <i>PLOS One</i> <b>6</b>: e25939.</li>
	<li>Lauterbach, L., Lenz, O. and Vincent, K.A. (2013) H<sub>2</sub>-driven cofactor regeneration with NAD(P)<sup>+</sup>-reducing hydrogenases. <i>FEBS J.</i> <b>280</b>: 3058-3068.</li>
	<Li>Lauterbach, L., Liu, J., Horch, M., Hummel, P., Schwarze, A., Haumann, M., Vincent, K.A., Lenz, O., and Zebger, I. (2011) The hydrogenase subcomplex of the NAD<sup>+</sup>-reducing [NiFe] hydrogenase from <i>Ralstonia eutropha</i>&mdash;insights into catalysis and redox interconversions. <i>Eur. J. Inorg. Chem.</i> <b>7</b>: 1067-1079.</li>
	<li>L&ouml;scher, S., Burgdorf, T., Zebger, I., Hildebrandt, P., Dau, H., Friedrich, B., and Haumann, M. (2006) Bias from H<sub>2</sub> cleavage to production and coordination changes at the Ni-Fe active site in the NAD<sup>+</sup>-reducing hydrogenase from <i>Ralstonia eutropha</i>. <i>Biochem.</i> <b>45</b>: 11658-11665.</li>
	<li>Massanz, C. and Friedrich, B. (1999) Amino acid replacements at the H<sub>2</sub>-activating site of the NAD-reducing hydrogenase from <i>Alcaligenes eutrophus</i>. <i>Biochem.</i> <b>38</b>: 14330-14337.</li>
	<li>McIntosh, C.L., Germer, F., Schulz, R., Appel, J., and Jones, A.K. (2011) The [NiFe]-hydrogenase of the cyanobacterium <i>Synechocystis</i> sp. PCC 6803 works bidirectionally with a bias to H<sub>2</sub> production. <i>J. Am. Chem. Soc.</i> <b>133</b>: 11308-11319.</li>
	<li>Ratzka, J., Lauterbach, L., Lenz, O., and Ansorge-Schumacher, M.B. (2011) Systematic evaluation of the dihydrogen-oxidising and NAD<sup>+</sup>-reducing soluble [NiFe]-hydrogenase from <i>Ralstonia eutropha</i> H16 as a cofactor regeneration catalyst. <i>Biocat. Biotransf.</i> <b>29</b>: 246-252.</li>
	<li>Schmitz, O., Boison, G., Salzmann, H., Bothe, H., Sch&uuml;tz, K., Wang, S.H., and Happe, T (2002) HoxE  a subunit specific for the pentameric bidirectional hydrogenase complex (HoxEFUYH) of cyanobacteria. <i>BBA Bioenerg.</i> <b>1554</b>: 66-74.</li>
	<li>Schneider, K. and Schlegel, H.G. (1976) Purification and properties of soluble hydrogenase from <i>Alcaligenes eutrophus</i> H16. <i>BBA Enzymol.</i> <b>452</b>: 66-80.</li>
	<li>Schneider, K., Cammack, R., and Schlegel, H.G. (1984) Content and localization of FMN, Fe-S clusters and nickel in the NAD-linked hydrogenase of <i>Nocardia opaca</i> 1b. <i>Eur. J. Biochem.</i> <b>142</b>: 75-84.</li>
	<li>Schneider, K., Cammack, R., Schlegel, H.G., and Hall, D.O. (1979) The iron-sulphur centres of soluble hydrogenase from <i>Alcaligenes eutrophus</i>. <i>BBA Prot. Struct.</i> <b>578</b>: 445-461.</li>
</ul>

<p><b>Chemistry:</b></p>

<ul>
	<li>Erkens, A., Schneider, K., and M&uuml;ller, A. (1996) The NAD-linked soluble hydrogenase from <i>Alcaligenes eutrophus</i> H16: detection and characterization of EPR signals deriving from nickel and flavin. <i>J. Biol. Inorg. Chem.</i> <b>1</b>: 99-110.</li>
	<li>Long, M., Liu, J., Chen, Z., Bleijlevens, B., Roseboom, W. and Albracht, S.P. (2007) Characterization of a HoxEFUYH type of [NiFe] hydrogenase from <i>Allochromatium vinosum</i> and some EPR and IR properties of the hydrogenase module. <i>J. Biol. Inorg. Chem.</i> <b>12</b>: 62-78.</li>
	<li>Horch, M., Lauterbach, L., Saggu, M., Hildebrandt, P., Lendzian, F., Bittl, R., Lenz, O., and Zebger, I., 2010. Probing the active site of an O<sub>2</sub>-tolerant NAD<sup>+</sup>-reducing [NiFe]-hydrogenase from <i>Ralstonia eutropha</i> H16 by <i>in situ</i> EPR and FTIR spectroscopy. <i>Angewandte Chemie</i> <b>49</b>: 8026-8029.</li>
	<li>Horch, M., Rippers, Y., Mroginski, M.A., Hildebrandt, P., and Zebger, I. (2013) Combining spectroscopy and theory to evaluate structural models of metalloenzymes: a case study on the soluble [NiFe] hydrogenase from <i>Ralstonia eutropha</i>. <i>ChemPhysChem</i> <b>14</b>: 185-191.</li>
	<li>Lauterbach, L., Wang, H., Horch, M., Gee, L.B., Yoda, Y., Tanaka, Y., Zebger, I., Lenz, O., and Cramer, S.P. (2015) Nuclear resonance vibrational spectroscopy reveals the FeS cluster composition and active site vibrational properties of an O<sub>2</sub>-tolerant NAD<sup>+</sup>-reducing [NiFe] hydrogenase. <i>Chem. Sci.</i> <b>6</b>: 1055-1060.</li>
	<li>L&ouml;wenstein, J., Lauterbach, L., Teutloff, C., Lenz, O., and Bittl, R. (2015). Active site of the NAD<sup>+</sup>-reducing hydrogenase from <i>Ralstonia eutropha</i> studied by EPR spectroscopy. <i>J. Phys. Chem. B</i> <b>119</b>: 13834-13841.</li>
</ul>

	<h3>HydDB entries</h3>

	

			<footer class="text-center">
				<small class="text-muted">&copy; 2016 Dan S&oslash;ndergaard &amp; Chris Greening</small>
			</footer>
		</div>
	</body>
</html>

		