<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
     Group 1f [NiFe]-hydrogenases
</title>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

		<link href="http://services.birk.au.dk/hyddb/static/common/style.css" rel="stylesheet">

		
    
    <link href="http://services.birc.au.dk/hyddb/static/browser/style.css" rel="stylesheet">

				<div class="container">
			<nav class="navbar navbar-inverse">
			  <div class="container-fluid">
			    <div class="navbar-header">
			      <a class="navbar-brand" href="http://services.birc.au.dk/hyddb/">HydDB</a>
			    </div>

			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			      <ul class="nav navbar-nav">
			        <li >
			        	<a href="http://services.birc.au.dk/hyddb/">
				        	<span class="glyphicon glyphicon-tags" aria-hidden="true"></span>&nbsp;Classify
			        	</a>
			        </li>
			        <li >
			        	<a href="http://services.birc.au.dk/hyddb/browser/">
				        	<span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>&nbsp;Browse
			        	</a>
			        </li>
			      </ul>
			    </div>
			  </div>
			</nav>
			
<h1>Group 1f [NiFe]-hydrogenases</h1>

	<h3>Properties</h3>
	
            <table class="table table-striped">
                <tr>
                    <td class="entry-property-name" width="200">Group</td>
                    <td>[NiFe] Group 1: Respiratory H<sub>2</sub>-uptake [NiFe] hydrogenases</td>
                </tr>
                <tr>
                    <td class="entry-property-name">Subgroup</td>
                    <td>[NiFe] Group 1f: Oxygen-protecting</td>
                </tr>
                 <tr>
                    <td class="entry-property-name">Function</td>
                    <td>Unresolved role. Likely to mediate hydrogenotrophic respiration using unresolved electron acceptor. Enzyme linked to protection from reactive oxygen species, protection of nitrogenase protection, and recycling of nitrogenase-derived H<sub>2</sub>.</td>
                </tr>
                 <tr>
                    <td class="entry-property-name">Activity</td>
                    <td>H<sub>2</sub>-uptake (unidirectional)?</td>
                </tr>
                 <tr>
                    <td class="entry-property-name">Oxygen Tolerance</td>
                    <td>O<sub>2</sub>-tolerant?</td>
                </tr>
                 <tr>
                    <td class="entry-property-name">Localisation</td>
                    <td>Membrane-bound</td>
                </tr>
							</table>
							
							
	<h3>Distribution</h3>
	
            <table class="table table-striped">
                 <tr>
                    <td class="entry-property-name" width="200">Ecosystem Distribution</td>
                    <td>Various soil and aquatic environments</td>
                </tr>
                 <tr>
                    <td class="entry-property-name">Taxonomic Distribution</td>
                    <td>Present in both aerobic soil bacteria (e.g. Actinobacteria) and anaerobic marine bacteria (e.g. Deltaproteobacteria)</td>
                </tr>
							</table>

							
	<img src="../distribution/nife1f.tif" />
	
	<h3>Genetic Organisation</h3>
	
	e.g. <i>Geobacter sulfurreducens</i> (WP_010940798.1):</p>

	<img src="../organisation/nife1f.tif" />
								
								
	<h3>Architecture</h3>

            <table class="table table-striped">
						    <tr>
                    <td class="entry-property-name" width="200">Structures</td>
                    <td>N/A</td>
                </tr>
                <tr>
                    <td class="entry-property-name" width="200">Number of Subunits</td>
                    <td>3</td>
                 </tr>						
                 <tr>
                    <td class="entry-property-name">Subunit Description</td>
                    <td>HyoL (hydrogenase large subunit)<br />
										HyoS (hydrogenase small subunit)<br />
										HyoE (cytochrome <i>b</i> subunit)</td>
                 </tr>
                 <tr>
                    <td class="entry-property-name">Catalytic Site</td>
                    <td>[NiFe]-centre</td>
                </tr>
								<tr>
                    <td class="entry-property-name">[FeS] Clusters</td>
                    <td>Proximal: 3Cys1Asp[4Fe4S] or 3Cys1Asn[4Fe4S]<br />
										Medial: 3Cys[3Fe4S]<br />
										Distal: 3Cys1His[4Fe4S]</td>
                </tr>	
							</table>

	<h3>Important Notes</h3>
	
	<p>This hydrogenase class has been minimally studied. Further genetic, physiological, and biochemical studies are required to understand its role and behaviour.</p>

	<h3>Literature</h3>

<p><b>Genetics:</b></p>

<ul>
	<li>Coppi, M.V. (2005) The hydrogenases of <i>Geobacter sulfurreducens</i>: a comparative genomic perspective. <i>Microbiol.</i> <b>151</b>: 1239-1254.</li>
  <li>Greening, C., Biswas, A., Carere, C.R., Jackson, C.J., Taylor, M.C., Stott, M.B., Cook, G.M., Morales, S.E. (2016) Genomic and metagenomic surveys of hydrogenase distribution indicate H<sub>2</sub> is a widely utilised energy source for microbial growth and survival. <i>ISME J.</i> <b>10</b>: 761-777.</li>
	<li>Leul, M., Normand, P., and Sellstedt, A. (2007) The organization, regulation and phylogeny of uptake hydrogenase genes in <i>Frankia</i> <b>130</b>: 464-470.</li>
	<li>Richau, K.H., Kudahettige, R.L., Pujic, P., Kudahettige, N.P., and Sellstedt, A. (2013) Structural and gene expression analyses of uptake hydrogenases and other proteins involved in nitrogenase protection in <i>Frankia</i>. <i>J. Biosci.</i> <b>38</b>, 703-712.</li>
</ul>

<p><b>Physiology:</b></p>

<ul>
	<li>Mattsson, U., Johansson, L., Sandstr&ouml;m, G., and Sellstedt, A. (2001) <i>Frankia</i> KB5 possesses a hydrogenase immunologically related to membrane-bound [NiFe]-hydrogenases. <i>Curr. Microbiol.</i> <b>42</b>: 438-441.</li>
	<li>Mattsson, U. and Sellstedt, A. (2000) Hydrogenase in <i>Frankia</i> KB5: Expression of and relation to nitrogenase. <i>Can. J. Microbiol.</i> <b>46</b>: 1091-1095.</li>
	<li>Takai, K., Kobayashi, H., Nealson, K.H., and Horikoshi, K. (2003). <i>Deferribacter desulfuricans</i> sp. nov., a novel sulfur-, nitrate-and arsenate-reducing thermophile isolated from a deep-sea hydrothermal vent. <i>Int. J. Syst. Evol. Microbiol.</i> <b>53</b>: 839-846.</li>
  <li>Tremblay, P.L. and Lovley, D.R. (2012) Role of the NiFe hydrogenase Hya in oxidative stress defense in <i>Geobacter sulfurreducens</i> <i>J. Bacteriol.</i> <b>194</b>: 2248-2253.</li>
</ul>
	<h3>HydDB entries</h3>

	

			<footer class="text-center">
				<small class="text-muted">&copy; 2016 Dan S&oslash;ndergaard &amp; Chris Greening</small>
			</footer>
		</div>
	</body>
</html>

		