<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
     Group 2b [NiFe]-hydrogenases
</title>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

		<link href="http://services.birk.au.dk/hyddb/static/common/style.css" rel="stylesheet">

		
    
    <link href="http://services.birc.au.dk/hyddb/static/browser/style.css" rel="stylesheet">

				<div class="container">
			<nav class="navbar navbar-inverse">
			  <div class="container-fluid">
			    <div class="navbar-header">
			      <a class="navbar-brand" href="http://services.birc.au.dk/hyddb/">HydDB</a>
			    </div>

			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			      <ul class="nav navbar-nav">
			        <li >
			        	<a href="http://services.birc.au.dk/hyddb/">
				        	<span class="glyphicon glyphicon-tags" aria-hidden="true"></span>&nbsp;Classify
			        	</a>
			        </li>
			        <li >
			        	<a href="http://services.birc.au.dk/hyddb/browser/">
				        	<span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>&nbsp;Browse
			        	</a>
			        </li>
			      </ul>
			    </div>
			  </div>
			</nav>
			
<h1>Group 2b [NiFe]-hydrogenases</h1>

	<h3>Properties</h3>
	
            <table class="table table-striped">
                <tr>
                    <td class="entry-property-name" width="200">Group</td>
                    <td>[NiFe] Group 2: Alternative and sensory H<sub>2</sub>-uptake [NiFe] hydrogenases</td>
                </tr>
                <tr>
                    <td class="entry-property-name">Subgroup</td>
                    <td>[NiFe] Group 2b: Histidine kinase-linked  </td>
                </tr>
                 <tr>
                    <td class="entry-property-name">Function</td>
                    <td>H<sub>2</sub>-sensing in regulatory cascades. Enzyme transfers H<sub>2</sub>-liberated electrons to PAS domain. Associated redox change modulates histidine kinase activity and in turn the two-component system controlling expression of primary H<sub>2</sub>-uptake hydrogenases. </td>
                </tr>
                 <tr>
                    <td class="entry-property-name">Activity</td>
                    <td>H<sub>2</sub>-sensing</td>
                </tr>
                 <tr>
                    <td class="entry-property-name">Oxygen Tolerance</td>
                    <td>O<sub>2</sub>-tolerant</td>
                </tr>
                 <tr>
                    <td class="entry-property-name">Localisation</td>
                    <td>Cytosolic</td>
                </tr>
							</table>
							
							
	<h3>Distribution</h3>
	
            <table class="table table-striped">
                 <tr>
                    <td class="entry-property-name" width="200">Ecosystem Distribution</td>
                    <td>Various soil and aquatic samples</td>
                </tr>
                 <tr>
                    <td class="entry-property-name">Taxonomic Distribution</td>
                    <td>Exclusive to aerobic Proteobacteria</td>
                </tr>
							</table>

							
	<img src="../distribution/nife2b.tif" />
	
	<h3>Genetic Organisation</h3>
	
	e.g. <i>Ralstonia eutropha</i> (WP_011153946.1):</p>

	<img src="../organisation/nife2b.tif" />
								
								
	<h3>Architecture</h3>

            <table class="table table-striped">
						    <tr>
                    <td class="entry-property-name" width="200">Structures</td>
                    <td>N/A</td>
                </tr>
                <tr>
                    <td class="entry-property-name" width="200">Number of Subunits</td>
                    <td>3</td>
                 </tr>
								 
                <tr>
                    <td class="entry-property-name" width="200">Subunit Description</td>
                    <td>HupV (hydrogenase large subunit)<br />
										HupU (hydrogenase small subunit)<br />
										HupK (histidine kinase)<br />
										Interacts with response regulator (HupR)</td>
                 </tr>
                 <tr>
                    <td class="entry-property-name">Catalytic Site</td>
                    <td>[NiFe]-centre</td>
                </tr>           
								<tr>
                    <td class="entry-property-name">[FeS] Clusters</td>
                    <td>Proximal: 4Cys[4Fe4S]<br />
										Medial: 4Cys[4Fe4S]<br />
										Distal: 3Cys1His[4Fe4S]</td>
                </tr>
							</table>

	<h3>Literature</h3>

<p><b>Genetics:</b></p>

<ul>
  <li>Black, L.K., Fu, C., and Maier, R.J. (1994) Sequences and characterization of <i>hupU</i> and <i>hupV</i> genes of <i>Bradyrhizobium japonicum</i> encoding a possible nickel-sensing complex involved in hydrogenase expression. <i>J. Bacteriol.</i> <b>176</b>: 7102-7106.</li>
	<li>Colbeau, A. and Vignais, P.M. (1992) Use of <i>hupS</i>::<i>lacZ</i> gene fusion to study regulation of hydrogenase expression in <i>Rhodobacter capsulatus</i>: stimulation by H<sub>2</sub>. <i>J. Bacteriol.</i> <b>172</b>: 4258-4264.</li>
  <li>Dischert, W., Vignais, P.M., and Colbeau, A. (1999) The synthesis of <i>Rhodobacter capsulatus</i> HupSL hydrogenase is regulated by the two-component HupT/HupR system. <i>Mol. Microbiol.</i> <b>34</b>: 995-1006</li>
  <li>Elsen, S., Colbeau, A., Chabert, J., and Vignais, P.M. (1996) The <i>hupTUV</i> operon is involved in negative control of hydrogenase synthesis in <i>Rhodobacter capsulatus</i>. <i>J. Bacteriol.</i> <b>178</b>: 5174-5181.</li>
	<li>Prosser, J., Graham, L., and Maier, R.J. (1988) Hydrogen-mediated enhancement of hydrogenase expression in <i>Azotobacter vinelandii</i>. <i>J. Bacteriol.</i> <b>170</b>: 1990-1993.</li>
	<li>Rey, F.E., Oda, Y. and Harwood, C.S. (2006) Regulation of uptake hydrogenase and effects of hydrogen utilization on gene expression in <i>Rhodopseudomonas palustris</i>. <i>J. Bacteriol.</i> <b>188</b>: 6143-6152.</li>
  <li>Schwartz, E., Buhrke, T., Gerischer, U., and Friedrich, B. (1999) Positive transcriptional feedback controls hydrogenase expression in <i>Alcaligenes eutrophus</i> hydrogenase genes. <i>J. Bacteriol.</i> <b>181</b>: 5684-5692.</li>
  <li>Schwartz, E., Gerischer, U., and Friedrich, B. (1998) Transcriptional regulation of <i>Alcaligenes eutrophus</i> hydrogenase genes. <i>J. Bacteriol.</i> <b>180</b>: 3197-3204.</li>
	<li>Vignais, P.M., Billoud, B., and Meyer, J. (2001) Classification and phylogeny of hydrogenases. <i>FEMS Microbiol. Rev.</i> <b>25</b>: 455-501.</li>
  <li>Lenz, O., Stack, A., Tran-Betcke, A., Friedrich, B. (1997) A hydrogen-sensing system in transcriptional regulation of hydrogenase gene expression in <i>Alcaligenes</i> species. <i>J. Bacteriol.</i> <b>179</b>: 1655-1663.</li>
</ul>

<p><b>Physiology:</b>

<ul>
  <li>Friedrich, B., Buhrke, T., Burgdorf, T., and Lenz, O. (2005) A hydrogen-sensing multiprotein complex controls aerobic hydrogen metabolism in <i>Ralstonia eutropha</i>. <i>Biochem. Soc. Trans.</i> <b>33</b>: 97-101.</li>
  <li>Greening, C. and Cook, G. (2014) Integration of hydrogenase expression and hydrogen sensing in bacterial cell physiology. <i>Curr. Opin. Microbiol.</i> <b>18</b>: 30-38.</li>
  <li>Kleihues, L., Lenz, O., Bernhard, M., Buhrke, T., and Friedrich, B. (2000) The H<sub>2</sub> sensor of <i>Ralstonia eutropha</i> is a member of the subclass of regulatory [NiFe]-hydrogenases. <i>J. Bacteriol.</i> <b>182</b>: 2716-2724.</li>
  <li>Lenz, O. and Friedrich, B. (1998). A novel multicomponent regulatory system mediates H<sub>2</sub> sensing in <i>Alcaligenes eutrophus</i>. <i>Proc. Acad. Natl. Sci. U.S.A.</i> <b>95</b>: 12474-12479.</li>
</ul>

<p><b>Biochemistry:</b></p>

<ul>
  <li>Bernhard, M., Buhrke, T., Bleijlevens, B., de Lacey, A.L., Fernandez, V.M., Albracht, S.P., and Friedrich, B. (2001) The H<sub>2</sub> sensor of <i>Ralstonia eutropha</i>. Biochemical characteristics, spectroscopic properties, and its interaction with a histidine kinase. <i>J. Biol. Chem.</i> <b>276</b>: 15592-15597.</li>
  <li>Buhrke, T., Lenz, O., Krauss, N., and Friedrich, B. (2005) Oxygen tolerance of the H<sub>2</sub>-sensing [NiFe] hydrogenase from <i>Ralstonia eutropha</i> H16 is based on limited access of oxygen to the active site. <i>J. Biol. Chem.</i> <b>280</b>: 23791-23796.</li>
  <li>Buhrke, T., Lenz, O., Porthun, A., and Friedrich, B. (2004). The H<sub>2</sub>-sensing complex of <i>Ralstonia eutropha</i>: interaction between a regulatory [NiFe] hydrogenase and a histidine kinase. <i>Mol. Microbiol.</i> <b>51</b>: 1677-1689.</li>
  <li>Duch&eacute;, O, Elsen, S., Cournac, L., and Colbeau, A. (2005) Enlarging the gas access channel to the active site renders the regulatory hydrogenase HupUV of <i>Rhodobacter capsulatus</i> O<sub>2</sub> sensitive without affecting its transductory activity. <i>FEBS J.</i> <b>272</b>: 3899-3908.
  <li>Elsen, S., Duch&eacute;, O., and Colbeau, A. (2003) Interaction between the H<sub>2</sub> sensor HupUV and the histidine kinase HupT controls HupSL hydrogenase synthesis in <i>Rhodobacter capsulatus</i>. <i>J. Bacteriol.</i> <b>185</b>: 7111-7119.</li>
  <li>Gebler, A., Burgdorf, T., de Lacey, A.L., R&uuml;diger, O., Martinez-Arias, A., Lenz, O., and Friedrich, B. (2007) Impact of alterations near the [NiFe] active site on the function of the H<sub>2</sub> sensor from <i>Ralstonia eutropha</i>. <i>FEBS J.</i> <b>274</b>: 74-85.</li>
</ul>


<p><b>Chemistry</b></p>
	
<ul>
  <li>Ash, P.A., Liu, J., Coutard, N., Heidary, N., Horch, M., Gudim, I., Simler, T., Zebger, I., Lenz, O., and Vincent, K.A. (2015) Electrochemical and infrared spectroscopic studies provide insight into reactions of the NiFe regulatory hydrogenase from <i>Ralstonia eutropha</i> with O<sub>2</sub> and CO. <i>J. Phys. Chem. B.</i> <b>119</b>: 13807-13815.</li>
  <li>Brecht, M., van Gastel, M., Buhrke, T., Friedrich, B., and Lubitz, W. (2003) Direct detection of a hydrogen ligand in the [NiFe] center of the regulatory H<sub>2</sub>-sensing hydrogenase from <i>Ralstonia eutropha</i> in its reduced state by HYSCORE and ENDOR spectroscopy. <i>J. Am. Chem. Soc.</i> <b>125</b>: 13073-13083.</li>
	<li>Haumann, M., Porthun, A., Buhrke, T., Liebisch, P., Meyer-Klaucke, W., Friedrich, B., and Dau, H. (2003) Hydrogen-induced structural changes at the nickel site of the regulatory [NiFe] hydrogenase from <i>Ralstonia eutropha</i> detected by X-ray absorption spectroscopy. <i>Biochem.</i> <b>42</b>: 11004-11015.</li>
  <li>L&ouml;scher, S., Gebler, A., Stein, M., Sanganas, O., Buhrke, T., Zebger, I., Dau, H., Friedrich, B., Lenz, O., and Haumann, M. (2010) Protein-protein complex formation affects the Ni-Fe and Fe-S centers in the H<sub>2</sub>-sensing regulatory hydrogenase from <i>Ralstonia eutropha</i> H16. <i>Chemphyschem</i> <b>11</b>: 1297-1306.</li>
  <li>Pierik, A.J., Schmelz, M., Lenz, O., Friedrich, B., and Albracht, S.P.J. (1998) Characterization of the active site of a hydrogen sensor from <i>Alcaligenes eutrophus</i>. <i>FEBS J.</i> <b>428</b>: 231-235.</li>
	<li>Roncaroli, F., Bill, E., Friedrich, B., Lenz, O., Lubitz, W., and Pandelia, M.E. (2015) Cofactor composition and function of a H<sub>2</sub>-sensing regulatory hydrogenase as revealed by M&ouml;ssbauer and EPR spectroscopy. <i>Chem. Sci.</i> <b>6</b>: 4495-4507.</li>
</ul>
	
	<h3>HydDB entries</h3>

	

			<footer class="text-center">
				<small class="text-muted">&copy; 2016 Dan S&oslash;ndergaard &amp; Chris Greening</small>
			</footer>
		</div>
	</body>
</html>

		